---
import Chip from "@components/_UI/Chip/Chip.astro";
import DefaultBtn from "@components/_UI/DefaultBtn/DefaultBtn.astro";
import { Sprite } from "astro-icon";
---

<section class="main-about" id="main-about">
  <div class="container main-about__wrapper">
    <div class="main-about__container">
      <div class="main-about__head">
        <Chip>О нас</Chip>
        <h3 class="block-title main-about__title">
          <span>CARGO-EXPRESS.</span><br> СРОЧНАЯ ДОСТАВКА ГРУЗОВ
        </h3>
      </div>
      <div class="main-about__inner">
        <div class="template main-about__text">
          <p>
            • <b>Название как стратегия:</b> концепция компании отражена в самом названии — решение широкого спектра логистических задач с акцентом на сроки доставки. <br>
            • <b>Авиационные корни:</b> Наша история началась в 1992 году. Компания была основана выпускниками и преподавателями Академии Гражданской авиации (Авиагородок, Санкт-Петербург) и начинала свою деятельность с организации авиаперевозок грузов из аэропорта Пулково. <br>
            • <b>34 года пути:</b> Всё это время наш головной офис неизменно располагается там, где всё начиналось — в Авиагородке. За эти десятилетия мы выросли из локального авиаагента в надежного федерального оператора с филиалами в других городах и разветвленной сетью агентств в региональных центрах
            России. <br>
            • <b>Международный опыт:</b> в течение предыдущих десятилетий, наша компания являлась одним из крупнейших игроков на рынке доставки сборных грузов со всего мира с консолидацией на складе нашего филиала в Хельсинки. До закрытия данного направления, отгружалось в среднем по 10 сборных грузовиков на
            терминалы СПб, Москвы и других городов, до закрытия данного направления <br>
            • <b>Собственные активы как фундамент:</b> наличие логистических терминалов полного цикла: складов в Москве и Санкт-Петербурге, автопарка разного калибра, для междугородней, региональной и внутригородской доставки грузов, ремонтной зоны и офисов. Региональная сеть агентств, квалифицированный
            персонал, десятилетиями заслуженная репутация и бренд. <br>
          </p>
        </div>
        <DefaultBtn component="a" href="#" class="main-about__btn">
          О компании
          <Sprite name="arrow-up-right" />
        </DefaultBtn>
      </div>
    </div>
    <div class="main-about-info">
      <div class="main-about-info__item">
        <span class="main-about-info__item-title">с 1992 года</span>
        <p class="main-about-info__item-text">
          Мы вместе с вами строим надёжные и эффективные решения в сфере
          грузоперевозок по России и миру.
        </p>
      </div>
      <div class="main-about-info__item">
        <span class="main-about-info__item-title">200+</span>
        <p class="main-about-info__item-text">
          Собственных автомобилей для оперативной и безопасной доставки грузов.
        </p>
      </div>
      <div class="main-about-info__item">
        <span class="main-about-info__item-title"> 10 000 м²</span>
        <p class="main-about-info__item-text">
          Собственных складских площадей для качественного хранения и обработки
          грузов.
        </p>
      </div>
    </div>
  </div>
</section>