@mixin breakpoint($bp) {
  @media (max-width: $bp) {
    @content;
  }
}

@mixin hover() {
  @media (hover) {
    &:hover {
      @content;
    }
  }

  // @media (hover: none) {
  //   &:active {
  //     @content;
  //   }
  // }
}

@mixin img() {

  img,
  picture,
  video {
    @content;
  }
}

@mixin lineClamp($count) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $count;
  line-clamp: $count;
  -webkit-box-orient: vertical;
}

@mixin scrollbar($size: 1rem, $track-color: orange, $thumb-color: blue, $thumb-border-radius: 1rem) {
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-track {
    background: $track-color;
    /* цвет дорожки */
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumb-color;
    /* цвет плашки */
    border-radius: $thumb-border-radius;
    /* закругления плашки */
  }
}