$xl-bp: 1920px;
$sm-bp: 1024px;
$xs-bp: 768px;

$f-manrope: "Manrope";

// colors
$primary: #4578CD;

$white: #FFFFFF;
$backgroud: #F9FBFF;
$stroke: #C6C6C6;
$inactive: #7C7C7C;

$error: #FF0000;

$PR1: #0C47B8;
$PR2: #6DA2FF;

$G1: #121E4C;
$G2: #707A88;
$G3: #D2D5E3;
$G4: #E1ECFF;