---
interface Props extends astroHTML.JSX.InputHTMLAttributes {
  className?: string;
  color?: null;
}

const { className, color, ...props } = Astro.props;
---

<label class="radio" class:list={[{ ["radio_" + color]: color }, className]}>
  <input type="radio" class="radio__input" hidden {...props} />
  <span class="radio__icon"></span>
  <span class="radio__text">
    <slot />
  </span>
</label>
