---

---

<section class="about-head">
  <div class="container about-head__wrapper">
    <h1 class="page-title about-head__title">Мы — Cargo-Express</h1>
    <div class="about-head__container">
      <div class="about-head__inner">
        <h2 class="block-title about-head__subtitle">
          Наши ключевые достижения
        </h2>
        <p class="about-head__text">
          Cargo Express — это команда опытных профессионалов, работающих в сфере
          грузоперевозок и логистики более 15 лет. Мы предоставляем комплексные
          решения для бизнеса, обеспечивая надёжную транспортировку
          и оптимизацию процессов доставки.
        </p>
      </div>
      <div class="about-head__info">
        <div class="main-about-info__item">
          <span class="main-about-info__item-title">с 1992 года</span>
          <p class="main-about-info__item-text">
            Мы вместе с вами строим надёжные и эффективные решения в сфере
            грузоперевозок по России и миру.
          </p>
        </div>
        <div class="main-about-info__item">
          <span class="main-about-info__item-title">200+</span>
          <p class="main-about-info__item-text">
            Собственных автомобилей для оперативной и безопасной доставки
            грузов.
          </p>
        </div>
        <div class="main-about-info__item">
          <span class="main-about-info__item-title">10 000 м²</span>
          <p class="main-about-info__item-text">
            Собственных складских площадей для качественного хранения
            и обработки грузов.
          </p>
        </div>
        <div class="main-about-info__item">
          <span class="main-about-info__item-title">1 000+</span>
          <p class="main-about-info__item-text">
            Постоянных клиентов, доверяющих нам свои грузоперевозки.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
