---
import { Sprite } from "astro-icon";

interface Props extends astroHTML.JSX.InputHTMLAttributes {
  className?: string;
  color?: null;
}

const { className, color, ...props } = Astro.props;
---

<label
  class="checkbox"
  class:list={[{ ["checkbox_" + color]: color }, className]}
>
  <input type="checkbox" class="checkbox__input" hidden {...props} />
  <span class="checkbox__icon">
    <Sprite name="check" />
  </span>
  <span class="checkbox__text">
    <slot />
  </span>
</label>
