.checkbox {
  display: flex;
  align-items: flex-start;
  gap: 0.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: $G2;
  cursor: pointer;

  @include breakpoint($xs-bp) {
    font-size: 1.2rem;
  }

  &.invalid {
    .checkbox__icon {
      border-color: $error;
    }
  }

  &__input {
    &:disabled~.checkbox__icon {
      opacity: 0.5;
    }

    &:disabled~.checkbox__text {
      opacity: 0.5;
    }

    &:checked~.checkbox__icon {
      border-color: $G1;

      svg {
        opacity: 1;
      }
    }
  }

  &__icon {
    flex: none;
    width: 2.4rem;
    height: 2.4rem;
    border: 0.15rem solid $stroke;
    background-color: $backgroud;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;

    @include hover {
      border-color: $G1;
    }

    svg {
      transition: opacity 0.3s;
      opacity: 0;
    }
  }

  a {
    color: $G1;
    text-decoration: underline;
    transition: .3s;

    @include hover {
      color: $primary;
    }
  }
}