---
import Doc from "@components/_UI/Doc/Doc.astro";
import { Sprite } from "astro-icon";
---

<section class="services">
  <div class="container">
    <h1 class="page-title services__title">Транспортные услуги</h1>
  </div>

  <div class="services__container container">
    <h2 class="service-item__title">
      О НАС<br>
      CARGO-EXPRESS. СРОЧНАЯ ДОСТАВКА ГРУЗОВ
    </h2>

    <div class="template service-item__text">
      <ul>
        <li>
          <b>Название как стратегия:</b> концепция компании отражена в самом названии — решение широкого спектра логистических задач с акцентом на сроки доставки.
        </li>
        <li>
          <b>Авиационные корни:</b> Наша история началась в 1992 году. Компания была основана выпускниками и преподавателями Академии Гражданской авиации (Авиагородок, Санкт-Петербург) и начинала свою деятельность с организации авиаперевозок грузов из аэропорта Пулково.
        </li>
        <li>
          <b>34 года пути:</b> Всё это время наш головной офис неизменно располагается там, где всё начиналось — в Авиагородке. За эти десятилетия мы выросли из локального авиаагента в надежного федерального оператора с филиалами в других городах и разветвленной сетью агентств в региональных центрах России.
        </li>
        <li>
          <b>Международный опыт:</b> в течение предыдущих десятилетий, наша компания являлась одним из крупнейших игроков на рынке доставки сборных грузов со всего мира с консолидацией на складе нашего филиала в Хельсинки. До закрытия данного направления, отгружалось в среднем по 10  сборных грузовиков на терминалы СПб, Москвы и других городов, до закрытия данного направления
        </li>
        <li>
          <b>Собственные активы как фундамент:</b> наличие логистических терминалов полного цикла: складов в Москве и Санкт-Петербурге, автопарка разного калибра, для междугородней, региональной и внутригородской доставки грузов, ремонтной зоны и офисов. Региональная сеть агентств, квалифицированный персонал, десятилетиями заслуженная репутация и бренд.
        </li>
      </ul>
    </div>
  </div>

  <div class="services__container">
    <!-- Автомобильне перевозки -->
    <div id="service-1" class="service-item" data-tab-controller>
      <div class="service-item__bg">
        <img src="./img/service-item-bg-1.svg" alt="" />
      </div>
      <div class="container service-item__wrapper">
        <div class="service-item__container">
          <div class="service-item__icon">
            <img src="./img/service-icon-1.svg" alt="" />
          </div>
          <div class="service-item__content" data-tab="1">
            <div class="service-item__head">
              <h3 class="service-item__title" data-open-popup="service-nav-1">
                Автомобильне перевозки
                <Sprite name="chevron-right-bold" />
              </h3>
            </div>
            <div class="template service-item__text">
              <p>
                Автомобильные перевозки по территории Российской Федерации имеют
                преимущества перед доставкой грузов водным, железнодорожным и
                авиатранспортом: они полностью независимы от расписания работы
                портов, вокзалов и аэропортов. Достаточно удобная и развитая
                сеть автомобильных дорог дает возможность быстро и качественно
                осуществлять все виды автомобильных грузоперевозок внутри
                страны.
              </p>
              <p>
                Эти факторы являются основополагающими в динамичном развитии и
                возрастающей популярности автомобильных грузоперевозок по
                территории РФ, не зависимо от отдаленности начального и
                конечного пунктов назначения.
              </p>
            </div>
            <div class="service-item__docs">
              <Doc>
                Тарифы на грузоперевозку по России из Санкт-Петербурга(xls, 125
                кб.)
              </Doc>
              <Doc>
                Тарифы на грузоперевозку по России из Москвы (xls, 196 кб.)
              </Doc>
              <Doc>Автоперевозки по России (doc, 81 кб.)</Doc>
              <Doc>
                Стоимость перевозок по России из Санкт-Петербурга (xls, 125 кб.)
              </Doc>
            </div>
          </div>
          <div class="service-item__content" data-tab="2">
            <h3 class="service-item__title" data-open-popup="service-nav-1">
              Грузоперевозки гидробортом по России
              <Sprite name="chevron-right-bold" />
            </h3>
            <div class="template service-item__text">
              <p>
                Автомобильные перевозки по территории Российской Федерации имеют
                преимущества перед доставкой грузов водным, железнодорожным и
                авиатранспортом: они полностью независимы от расписания работы
                портов, вокзалов и аэропортов. Достаточно удобная и развитая
                сеть автомобильных дорог дает возможность быстро и качественно
                осуществлять все виды автомобильных грузоперевозок внутри
                страны.
              </p>
              <p>
                Эти факторы являются основополагающими в динамичном развитии и
                возрастающей популярности автомобильных грузоперевозок по
                территории РФ, не зависимо от отдаленности начального и
                конечного пунктов назначения.
              </p>
            </div>
            <div class="service-item__docs">
              <Doc>
                Тарифы на грузоперевозку по России из Санкт-Петербурга(xls, 125
                кб.)
              </Doc>
              <Doc>
                Тарифы на грузоперевозку по России из Москвы (xls, 196 кб.)
              </Doc>
            </div>
          </div>
          <div class="service-item__content" data-tab="3">
            <h3 class="service-item__title" data-open-popup="service-nav-1">
              Грузоперевозки фурами
              <Sprite name="chevron-right" />
            </h3>
            <div class="template service-item__text">
              <p>
                Автомобильные перевозки по территории Российской Федерации имеют
                преимущества перед доставкой грузов водным, железнодорожным и
                авиатранспортом: они полностью независимы от расписания работы
                портов, вокзалов и аэропортов. Достаточно удобная и развитая
                сеть автомобильных дорог дает возможность быстро и качественно
                осуществлять все виды автомобильных грузоперевозок внутри
                страны.
              </p>
              <p>
                Эти факторы являются основополагающими в динамичном развитии и
                возрастающей популярности автомобильных грузоперевозок по
                территории РФ, не зависимо от отдаленности начального и
                конечного пунктов назначения.
              </p>
            </div>
            <div class="service-item__docs">
              <Doc>
                Тарифы на грузоперевозку по России из Санкт-Петербурга(xls, 125
                кб.)
              </Doc>
              <Doc>
                Тарифы на грузоперевозку по России из Москвы (xls, 196 кб.)
              </Doc>
              <Doc>Автоперевозки по России (doc, 81 кб.)</Doc>
              <Doc>
                Стоимость перевозок по России из Санкт-Петербурга (xls, 125 кб.)
              </Doc>
            </div>
          </div>
          <div class="service-item__content" data-tab="4">
            <h3 class="service-item__title" data-open-popup="service-nav-1">
              Грузоперевозки до 5 тон
              <Sprite name="chevron-right-bold" />
            </h3>
            <div class="template service-item__text">
              <p>
                Автомобильные перевозки по территории Российской Федерации имеют
                преимущества перед доставкой грузов водным, железнодорожным и
                авиатранспортом: они полностью независимы от расписания работы
                портов, вокзалов и аэропортов. Достаточно удобная и развитая
                сеть автомобильных дорог дает возможность быстро и качественно
                осуществлять все виды автомобильных грузоперевозок внутри
                страны.
              </p>
              <p>
                Эти факторы являются основополагающими в динамичном развитии и
                возрастающей популярности автомобильных грузоперевозок по
                территории РФ, не зависимо от отдаленности начального и
                конечного пунктов назначения.
              </p>
            </div>
            <div class="service-item__docs">
              <Doc>
                Тарифы на грузоперевозку по России из Санкт-Петербурга(xls, 125
                кб.)
              </Doc>
              <Doc>
                Тарифы на грузоперевозку по России из Москвы (xls, 196 кб.)
              </Doc>
              <Doc>Автоперевозки по России (doc, 81 кб.)</Doc>
              <Doc>
                Стоимость перевозок по России из Санкт-Петербурга (xls, 125 кб.)
              </Doc>
            </div>
          </div>
          <div class="service-item__content" data-tab="5">
            <h3 class="service-item__title" data-open-popup="service-nav-1">
              Грузоперевозки до 10 тон
              <Sprite name="chevron-right-bold" />
            </h3>
            <div class="template service-item__text">
              <p>
                Автомобильные перевозки по территории Российской Федерации имеют
                преимущества перед доставкой грузов водным, железнодорожным и
                авиатранспортом: они полностью независимы от расписания работы
                портов, вокзалов и аэропортов. Достаточно удобная и развитая
                сеть автомобильных дорог дает возможность быстро и качественно
                осуществлять все виды автомобильных грузоперевозок внутри
                страны.
              </p>
              <p>
                Эти факторы являются основополагающими в динамичном развитии и
                возрастающей популярности автомобильных грузоперевозок по
                территории РФ, не зависимо от отдаленности начального и
                конечного пунктов назначения.
              </p>
            </div>
            <div class="service-item__docs">
              <Doc>
                Тарифы на грузоперевозку по России из Санкт-Петербурга(xls, 125
                кб.)
              </Doc>
              <Doc>
                Тарифы на грузоперевозку по России из Москвы (xls, 196 кб.)
              </Doc>
              <Doc>Автоперевозки по России (doc, 81 кб.)</Doc>
              <Doc>
                Стоимость перевозок по России из Санкт-Петербурга (xls, 125 кб.)
              </Doc>
            </div>
          </div>
          <div class="service-item__content" data-tab="6">
            <h3 class="service-item__title" data-open-popup="service-nav-1">
              Грузоперевозки 20 тон
              <Sprite name="chevron-right-bold" />
            </h3>
            <div class="template service-item__text">
              <p>
                Автомобильные перевозки по территории Российской Федерации имеют
                преимущества перед доставкой грузов водным, железнодорожным и
                авиатранспортом: они полностью независимы от расписания работы
                портов, вокзалов и аэропортов. Достаточно удобная и развитая
                сеть автомобильных дорог дает возможность быстро и качественно
                осуществлять все виды автомобильных грузоперевозок внутри
                страны.
              </p>
              <p>
                Эти факторы являются основополагающими в динамичном развитии и
                возрастающей популярности автомобильных грузоперевозок по
                территории РФ, не зависимо от отдаленности начального и
                конечного пунктов назначения.
              </p>
            </div>
            <div class="service-item__docs">
              <Doc>
                Тарифы на грузоперевозку по России из Санкт-Петербурга(xls, 125
                кб.)
              </Doc>
              <Doc>
                Тарифы на грузоперевозку по России из Москвы (xls, 196 кб.)
              </Doc>
              <Doc>Автоперевозки по России (doc, 81 кб.)</Doc>
              <Doc>
                Стоимость перевозок по России из Санкт-Петербурга (xls, 125 кб.)
              </Doc>
            </div>
          </div>
          <div class="service-item__content" data-tab="7">
            <h3 class="service-item__title" data-open-popup="service-nav-1">
              Перевозки еврофурой по России
              <Sprite name="chevron-right-bold" />
            </h3>
            <div class="template service-item__text">
              <p>
                Автомобильные перевозки по территории Российской Федерации имеют
                преимущества перед доставкой грузов водным, железнодорожным и
                авиатранспортом: они полностью независимы от расписания работы
                портов, вокзалов и аэропортов. Достаточно удобная и развитая
                сеть автомобильных дорог дает возможность быстро и качественно
                осуществлять все виды автомобильных грузоперевозок внутри
                страны.
              </p>
              <p>
                Эти факторы являются основополагающими в динамичном развитии и
                возрастающей популярности автомобильных грузоперевозок по
                территории РФ, не зависимо от отдаленности начального и
                конечного пунктов назначения.
              </p>
            </div>
            <div class="service-item__docs">
              <Doc>
                Тарифы на грузоперевозку по России из Санкт-Петербурга(xls, 125
                кб.)
              </Doc>
              <Doc>
                Тарифы на грузоперевозку по России из Москвы (xls, 196 кб.)
              </Doc>
              <Doc>Автоперевозки по России (doc, 81 кб.)</Doc>
              <Doc>
                Стоимость перевозок по России из Санкт-Петербурга (xls, 125 кб.)
              </Doc>
            </div>
          </div>
          <div class="service-item__content" data-tab="8">
            <h3 class="service-item__title" data-open-popup="service-nav-1">
              Автомобильные контейнерные перевозки
              <Sprite name="chevron-right-bold" />
            </h3>
            <div class="template service-item__text">
              <p>
                Автомобильные перевозки по территории Российской Федерации имеют
                преимущества перед доставкой грузов водным, железнодорожным и
                авиатранспортом: они полностью независимы от расписания работы
                портов, вокзалов и аэропортов. Достаточно удобная и развитая
                сеть автомобильных дорог дает возможность быстро и качественно
                осуществлять все виды автомобильных грузоперевозок внутри
                страны.
              </p>
              <p>
                Эти факторы являются основополагающими в динамичном развитии и
                возрастающей популярности автомобильных грузоперевозок по
                территории РФ, не зависимо от отдаленности начального и
                конечного пунктов назначения.
              </p>
            </div>
            <div class="service-item__docs">
              <Doc>
                Тарифы на грузоперевозку по России из Санкт-Петербурга(xls, 125
                кб.)
              </Doc>
              <Doc>
                Тарифы на грузоперевозку по России из Москвы (xls, 196 кб.)
              </Doc>
              <Doc>Автоперевозки по России (doc, 81 кб.)</Doc>
              <Doc>
                Стоимость перевозок по России из Санкт-Петербурга (xls, 125 кб.)
              </Doc>
            </div>
          </div>
          <div class="service-item__content" data-tab="9">
            <h3 class="service-item__title" data-open-popup="service-nav-1">
              Доставка в маркетплейсы
              <Sprite name="chevron-right-bold" />
            </h3>
            <div class="template service-item__text">
              <p>
                Автомобильные перевозки по территории Российской Федерации имеют
                преимущества перед доставкой грузов водным, железнодорожным и
                авиатранспортом: они полностью независимы от расписания работы
                портов, вокзалов и аэропортов. Достаточно удобная и развитая
                сеть автомобильных дорог дает возможность быстро и качественно
                осуществлять все виды автомобильных грузоперевозок внутри
                страны.
              </p>
              <p>
                Эти факторы являются основополагающими в динамичном развитии и
                возрастающей популярности автомобильных грузоперевозок по
                территории РФ, не зависимо от отдаленности начального и
                конечного пунктов назначения.
              </p>
            </div>
            <div class="service-item__docs">
              <Doc>
                Тарифы на грузоперевозку по России из Санкт-Петербурга(xls, 125
                кб.)
              </Doc>
              <Doc>
                Тарифы на грузоперевозку по России из Москвы (xls, 196 кб.)
              </Doc>
              <Doc>Автоперевозки по России (doc, 81 кб.)</Doc>
              <Doc>
                Стоимость перевозок по России из Санкт-Петербурга (xls, 125 кб.)
              </Doc>
            </div>
          </div>
        </div>
        <div class="popup service-item-nav" data-popup="service-nav-1">
          <div class="popup__bg" data-close-popup></div>
          <div class="popup__container">
            <button type="button" class="popup__close" data-close-popup>
              <Sprite name="close" />
            </button>
            <div class="service-item-nav__list" data-tab-btns>
              <button type="button" class="service-item-nav__btn _tab-active" data-tab-btn="1">
                Автомобильне перевозки
              </button>
              <button type="button" class="service-item-nav__btn" data-tab-btn="2">
                Грузоперевозки гидробортом по России
              </button>
              <button type="button" class="service-item-nav__btn" data-tab-btn="3">
                Грузоперевозки фурами
              </button>
              <button type="button" class="service-item-nav__btn" data-tab-btn="4">
                Грузоперевозки до 5 тон
              </button>
              <button type="button" class="service-item-nav__btn" data-tab-btn="5">
                Грузоперевозки до 10 тон
              </button>
              <button type="button" class="service-item-nav__btn" data-tab-btn="6">
                Грузоперевозки 20 тон
              </button>
              <button type="button" class="service-item-nav__btn" data-tab-btn="7">
                Перевозки еврофурой по России
              </button>
              <button type="button" class="service-item-nav__btn" data-tab-btn="8">
                Автомобильные контейнерные перевозки
              </button>
              <button type="button" class="service-item-nav__btn" data-tab-btn="9">
                Доставка в маркетплейсы
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Авиаперевозки -->
    <div id="service-2" class="service-item" data-tab-controller>
      <div class="container service-item__wrapper">
        <div class="service-item__container">
          <div class="service-item__icon">
            <img src="./img/service-icon-2.svg" alt="" />
          </div>
          <div class="service-item__content" data-tab="1">
            <div class="service-item__head">
              <h3 class="service-item__title" data-open-popup="service-nav-2">
                Авиаперевозки
                <Sprite name="chevron-right-bold" />
              </h3>
            </div>
            <div class="template service-item__text">
              <p>
                Доставка грузов всех категорий по территории России
                осуществляется всеми видами транспортных средств. И каждый вид
                имеет преимущества и недостатки. Среди всех видов грузоперевозок
                авиадоставка груза/товара занимает особую нишу, которая
                находится вне конкуренции.
              </p>
              <p>
                Авиаперевозки грузов по территории РФ имеют ряд неоспоримых
                преимуществ:
              </p>
              <ul>
                <li>Оперативность</li>
                <li>Регулярность и соблюдение сроков доставки</li>
                <li>Доступная стоимость</li>
                <li>Доставка сборных грузов</li>
                <li>
                  Возможность быстрой доставки скоропортящихся грузов и
                  специальных грузов.
                </li>
              </ul>
              <p>
                Для определенных категорий грузов доставка воздушным транспортом
                является единственной возможностью в целости и сохранности, без
                нарушения параметров качество транспортировать партию
                товара/груза в отдаленные населенные пункты РФ.
              </p>
            </div>
            <div class="service-item__docs service-item__docs_col">
              <Doc>Тарифы на авиаперевозку грузов (xls, 125 кб.)</Doc>
              <Doc>Авиа тарифы по СНГ до аэропорта (pdf, 283 кб.)</Doc>
              <Doc>
                Авиа тарифы по России до аэропорта прибытия (pdf, 218 кб.)
              </Doc>
              <Doc>Тарифы на авиаперевозки по СНГ (doc, 1.1 мб.)</Doc>
              <Doc>Тарифы на авиа экспедирование грузов (pdf, 271 кб.)</Doc>
              <Doc>Авиаперевозки по России (doc, 81 кб.)</Doc>
              <Doc>
                Авиа тарифы по Казахстану до аэропорта прибытия (pdf, 243 кб.)
              </Doc>
            </div>
          </div>
          <div class="service-item__content" data-tab="2">
            <div class="service-item__head">
              <h3 class="service-item__title" data-open-popup="service-nav-2">
                Авиаперевозки по России
                <Sprite name="chevron-right-bold" />
              </h3>
            </div>
            <div class="template service-item__text">
              <p>
                Доставка грузов всех категорий по территории России
                осуществляется всеми видами транспортных средств. И каждый вид
                имеет преимущества и недостатки. Среди всех видов грузоперевозок
                авиадоставка груза/товара занимает особую нишу, которая
                находится вне конкуренции.
              </p>
              <p>
                Авиаперевозки грузов по территории РФ имеют ряд неоспоримых
                преимуществ:
              </p>
              <ul>
                <li>Оперативность</li>
                <li>Регулярность и соблюдение сроков доставки</li>
                <li>Доступная стоимость</li>
                <li>Доставка сборных грузов</li>
                <li>
                  Возможность быстрой доставки скоропортящихся грузов и
                  специальных грузов.
                </li>
              </ul>
              <p>
                Для определенных категорий грузов доставка воздушным транспортом
                является единственной возможностью в целости и сохранности, без
                нарушения параметров качество транспортировать партию
                товара/груза в отдаленные населенные пункты РФ.
              </p>
            </div>
            <div class="service-item__docs service-item__docs_col">
              <Doc>Тарифы на авиаперевозку грузов (xls, 125 кб.)</Doc>
              <Doc>Авиа тарифы по СНГ до аэропорта (pdf, 283 кб.)</Doc>
              <Doc>
                Авиа тарифы по России до аэропорта прибытия (pdf, 218 кб.)
              </Doc>
              <Doc>Тарифы на авиаперевозки по СНГ (doc, 1.1 мб.)</Doc>
              <Doc>Тарифы на авиа экспедирование грузов (pdf, 271 кб.)</Doc>
              <Doc>Авиаперевозки по России (doc, 81 кб.)</Doc>
              <Doc>
                Авиа тарифы по Казахстану до аэропорта прибытия (pdf, 243 кб.)
              </Doc>
            </div>
          </div>
          <div class="service-item__content" data-tab="3">
            <div class="service-item__head">
              <h3 class="service-item__title" data-open-popup="service-nav-2">
                Международные aвиаперевозки
                <Sprite name="chevron-right-bold" />
              </h3>
            </div>
            <div class="template service-item__text">
              <p>
                Доставка грузов всех категорий по территории России
                осуществляется всеми видами транспортных средств. И каждый вид
                имеет преимущества и недостатки. Среди всех видов грузоперевозок
                авиадоставка груза/товара занимает особую нишу, которая
                находится вне конкуренции.
              </p>
              <p>
                Авиаперевозки грузов по территории РФ имеют ряд неоспоримых
                преимуществ:
              </p>
              <ul>
                <li>Оперативность</li>
                <li>Регулярность и соблюдение сроков доставки</li>
                <li>Доступная стоимость</li>
                <li>Доставка сборных грузов</li>
                <li>
                  Возможность быстрой доставки скоропортящихся грузов и
                  специальных грузов.
                </li>
              </ul>
              <p>
                Для определенных категорий грузов доставка воздушным транспортом
                является единственной возможностью в целости и сохранности, без
                нарушения параметров качество транспортировать партию
                товара/груза в отдаленные населенные пункты РФ.
              </p>
            </div>
            <div class="service-item__docs service-item__docs_col">
              <Doc>Тарифы на авиаперевозку грузов (xls, 125 кб.)</Doc>
              <Doc>Авиа тарифы по СНГ до аэропорта (pdf, 283 кб.)</Doc>
              <Doc>
                Авиа тарифы по России до аэропорта прибытия (pdf, 218 кб.)
              </Doc>
              <Doc>Тарифы на авиаперевозки по СНГ (doc, 1.1 мб.)</Doc>
              <Doc>Тарифы на авиа экспедирование грузов (pdf, 271 кб.)</Doc>
              <Doc>Авиаперевозки по России (doc, 81 кб.)</Doc>
              <Doc>
                Авиа тарифы по Казахстану до аэропорта прибытия (pdf, 243 кб.)
              </Doc>
            </div>
          </div>
          <div class="service-item__content" data-tab="4">
            <div class="service-item__head">
              <h3 class="service-item__title" data-open-popup="service-nav-2">
                Авиадоставка из Китая
                <Sprite name="chevron-right-bold" />
              </h3>
            </div>
            <div class="template service-item__text">
              <p>
                Доставка грузов всех категорий по территории России
                осуществляется всеми видами транспортных средств. И каждый вид
                имеет преимущества и недостатки. Среди всех видов грузоперевозок
                авиадоставка груза/товара занимает особую нишу, которая
                находится вне конкуренции.
              </p>
              <p>
                Авиаперевозки грузов по территории РФ имеют ряд неоспоримых
                преимуществ:
              </p>
              <ul>
                <li>Оперативность</li>
                <li>Регулярность и соблюдение сроков доставки</li>
                <li>Доступная стоимость</li>
                <li>Доставка сборных грузов</li>
                <li>
                  Возможность быстрой доставки скоропортящихся грузов и
                  специальных грузов.
                </li>
              </ul>
              <p>
                Для определенных категорий грузов доставка воздушным транспортом
                является единственной возможностью в целости и сохранности, без
                нарушения параметров качество транспортировать партию
                товара/груза в отдаленные населенные пункты РФ.
              </p>
            </div>
            <div class="service-item__docs service-item__docs_col">
              <Doc>Тарифы на авиаперевозку грузов (xls, 125 кб.)</Doc>
              <Doc>Авиа тарифы по СНГ до аэропорта (pdf, 283 кб.)</Doc>
              <Doc>
                Авиа тарифы по России до аэропорта прибытия (pdf, 218 кб.)
              </Doc>
              <Doc>Тарифы на авиаперевозки по СНГ (doc, 1.1 мб.)</Doc>
              <Doc>Тарифы на авиа экспедирование грузов (pdf, 271 кб.)</Doc>
              <Doc>Авиаперевозки по России (doc, 81 кб.)</Doc>
              <Doc>
                Авиа тарифы по Казахстану до аэропорта прибытия (pdf, 243 кб.)
              </Doc>
            </div>
          </div>
          <div class="service-item__content" data-tab="5">
            <div class="service-item__head">
              <h3 class="service-item__title" data-open-popup="service-nav-2">
                Отправить груз
                <Sprite name="chevron-right-bold" />
              </h3>
            </div>
            <div class="template service-item__text">
              <p>
                Доставка грузов всех категорий по территории России
                осуществляется всеми видами транспортных средств. И каждый вид
                имеет преимущества и недостатки. Среди всех видов грузоперевозок
                авиадоставка груза/товара занимает особую нишу, которая
                находится вне конкуренции.
              </p>
              <p>
                Авиаперевозки грузов по территории РФ имеют ряд неоспоримых
                преимуществ:
              </p>
              <ul>
                <li>Оперативность</li>
                <li>Регулярность и соблюдение сроков доставки</li>
                <li>Доступная стоимость</li>
                <li>Доставка сборных грузов</li>
                <li>
                  Возможность быстрой доставки скоропортящихся грузов и
                  специальных грузов.
                </li>
              </ul>
              <p>
                Для определенных категорий грузов доставка воздушным транспортом
                является единственной возможностью в целости и сохранности, без
                нарушения параметров качество транспортировать партию
                товара/груза в отдаленные населенные пункты РФ.
              </p>
            </div>
            <div class="service-item__docs service-item__docs_col">
              <Doc>Тарифы на авиаперевозку грузов (xls, 125 кб.)</Doc>
              <Doc>Авиа тарифы по СНГ до аэропорта (pdf, 283 кб.)</Doc>
              <Doc>
                Авиа тарифы по России до аэропорта прибытия (pdf, 218 кб.)
              </Doc>
              <Doc>Тарифы на авиаперевозки по СНГ (doc, 1.1 мб.)</Doc>
              <Doc>Тарифы на авиа экспедирование грузов (pdf, 271 кб.)</Doc>
              <Doc>Авиаперевозки по России (doc, 81 кб.)</Doc>
              <Doc>
                Авиа тарифы по Казахстану до аэропорта прибытия (pdf, 243 кб.)
              </Doc>
            </div>
          </div>
        </div>
        <div class="popup service-item-nav" data-popup="service-nav-2">
          <div class="popup__bg" data-close-popup></div>
          <div class="popup__container">
            <button type="button" class="popup__close" data-close-popup>
              <Sprite name="close" />
            </button>
            <div class="service-item-nav__list" data-tab-btns>
              <button type="button" class="service-item-nav__btn _tab-active" data-tab-btn="1">
                Авиаперевозки
              </button>
              <button type="button" class="service-item-nav__btn" data-tab-btn="2">
                Авиаперевозки по России
              </button>
              <button type="button" class="service-item-nav__btn" data-tab-btn="3">
                Международные aвиаперевозки
              </button>
              <button type="button" class="service-item-nav__btn" data-tab-btn="4">
                Авиадоставка из Китая
              </button>
              <button type="button" class="service-item-nav__btn" data-tab-btn="5">
                Отправить груз
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Международные перевозки -->
    <div id="service-3" class="service-item" data-tab-controller>
      <div class="service-item__bg">
        <img src="./img/service-item-bg-2.svg" alt="" />
      </div>
      <div class="container service-item__wrapper">
        <div class="service-item__container">
          <div class="service-item__icon">
            <img src="./img/service-icon-3.svg" alt="" />
          </div>
          <div class="service-item__content" data-tab="1">
            <div class="service-item__head">
              <h3 class="service-item__title" data-open-popup="service-nav-3">
                Международные перевозки
                <Sprite name="chevron-right-bold" />
              </h3>
            </div>
            <div class="template service-item__text">
              <p>
                Международные грузоперевозки – это уже давно не роскошь, а
                обыденный рабочий процесс деятельности многих российских
                компаний. Международное сотрудничество со всеми странами мира
                развивается стремительными темпами и с такой же стремительностью
                возрастает спрос на качественные комплексные услуги в сфере
                доставки и оформления грузов/товаров. Транснациональные компании
                из разных уголков планеты предпочитают доверить доставку
                опытному игроку рынка международных грузоперевозок.
              </p>
              <p>
                Компания «CARGO-EXPRESS» имеет практический опыт в осуществлении
                доставок разного уровня сложности. Когда необходимы
                интернациональные перевозки из стран Европы, обеих Америк, Азии
                у специалистов компании не возникает никаких сложностей в их
                организации. К основным видам доставки, которые предлагают
                специалист компании, относятся:
              </p>
              <ul>
                <li>Авиаперевозки</li>
                <li>Доставка морским видом транспорта</li>
                <li>Железнодорожные перевозки</li>
                <li>Автомобильная доставка.</li>
              </ul>
            </div>
            <div class="service-item__docs">
              <Doc>
                Заявка на перевозку груза авиационным транспортом (doc, 28 кб.)
              </Doc>
              <Doc>
                Заявка на перевозку груза автомобильным транспортом (doc, 27
                кб.)
              </Doc>
              <Doc>
                Заявка на перевозку груза морским транспортом (doc, 28 кб.)
              </Doc>
            </div>
          </div>
          <div class="service-item__content" data-tab="2">
            <div class="service-item__head">
              <h3 class="service-item__title" data-open-popup="service-nav-3">
                Грузоперевозки из Китая
                <Sprite name="chevron-right-bold" />
              </h3>
            </div>
            <div class="template service-item__text">
              <p>
                Международные грузоперевозки – это уже давно не роскошь, а
                обыденный рабочий процесс деятельности многих российских
                компаний. Международное сотрудничество со всеми странами мира
                развивается стремительными темпами и с такой же стремительностью
                возрастает спрос на качественные комплексные услуги в сфере
                доставки и оформления грузов/товаров. Транснациональные компании
                из разных уголков планеты предпочитают доверить доставку
                опытному игроку рынка международных грузоперевозок.
              </p>
              <p>
                Компания «CARGO-EXPRESS» имеет практический опыт в осуществлении
                доставок разного уровня сложности. Когда необходимы
                интернациональные перевозки из стран Европы, обеих Америк, Азии
                у специалистов компании не возникает никаких сложностей в их
                организации. К основным видам доставки, которые предлагают
                специалист компании, относятся:
              </p>
              <ul>
                <li>Авиаперевозки</li>
                <li>Доставка морским видом транспорта</li>
                <li>Железнодорожные перевозки</li>
                <li>Автомобильная доставка.</li>
              </ul>
            </div>
            <div class="service-item__docs">
              <Doc>
                Заявка на перевозку груза авиационным транспортом (doc, 28 кб.)
              </Doc>
              <Doc>
                Заявка на перевозку груза автомобильным транспортом (doc, 27
                кб.)
              </Doc>
              <Doc>
                Заявка на перевозку груза морским транспортом (doc, 28 кб.)
              </Doc>
            </div>
          </div>
          <div class="service-item__content" data-tab="3">
            <div class="service-item__head">
              <h3 class="service-item__title" data-open-popup="service-nav-3">
                Таможенный перевозчик
                <Sprite name="chevron-right-bold" />
              </h3>
            </div>
            <div class="template service-item__text">
              <p>
                Международные грузоперевозки – это уже давно не роскошь, а
                обыденный рабочий процесс деятельности многих российских
                компаний. Международное сотрудничество со всеми странами мира
                развивается стремительными темпами и с такой же стремительностью
                возрастает спрос на качественные комплексные услуги в сфере
                доставки и оформления грузов/товаров. Транснациональные компании
                из разных уголков планеты предпочитают доверить доставку
                опытному игроку рынка международных грузоперевозок.
              </p>
              <p>
                Компания «CARGO-EXPRESS» имеет практический опыт в осуществлении
                доставок разного уровня сложности. Когда необходимы
                интернациональные перевозки из стран Европы, обеих Америк, Азии
                у специалистов компании не возникает никаких сложностей в их
                организации. К основным видам доставки, которые предлагают
                специалист компании, относятся:
              </p>
              <ul>
                <li>Авиаперевозки</li>
                <li>Доставка морским видом транспорта</li>
                <li>Железнодорожные перевозки</li>
                <li>Автомобильная доставка.</li>
              </ul>
            </div>
            <div class="service-item__docs">
              <Doc>
                Заявка на перевозку груза авиационным транспортом (doc, 28 кб.)
              </Doc>
              <Doc>
                Заявка на перевозку груза автомобильным транспортом (doc, 27
                кб.)
              </Doc>
              <Doc>
                Заявка на перевозку груза морским транспортом (doc, 28 кб.)
              </Doc>
            </div>
          </div>
        </div>
        <div class="popup service-item-nav" data-popup="service-nav-3">
          <div class="popup__bg" data-close-popup></div>
          <div class="popup__container">
            <button type="button" class="popup__close" data-close-popup>
              <Sprite name="close" />
            </button>
            <div class="service-item-nav__list" data-tab-btns>
              <button type="button" class="service-item-nav__btn _tab-active" data-tab-btn="1">
                Международные перевозки
              </button>
              <button type="button" class="service-item-nav__btn" data-tab-btn="2">
                Грузоперевозки из Китая
              </button>
              <button type="button" class="service-item-nav__btn" data-tab-btn="3">
                Таможенный перевозчик
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Особенные перевозки -->
    <div id="service-4" class="service-item" data-tab-controller>
      <div class="container service-item__wrapper">
        <div class="service-item__container">
          <div class="service-item__icon">
            <img src="./img/service-icon-4.svg" alt="" />
          </div>
          <div class="service-item__content" data-tab="1">
            <div class="service-item__head">
              <h3 class="service-item__title" data-open-popup="service-nav-4">
                Особенные перевозки
                <Sprite name="chevron-right-bold" />
              </h3>
            </div>
            <div class="template service-item__text">
              <p>
                Компания Cargo-express имеют большой опыт в организации
                чартерных программ и перевозке специфичных, крупногабаритных и
                тяжеловесных грузов. Прямые агентские соглашения с российскими и
                международными авиакомпаниями, позволяют нам организовывать
                грузовые чартерные рейсы, отвечающие самым строгим требованиям
                клиента.
              </p>
              <p>
                Компания Cargo Express специализируется на авиаперевозках
                домашних животных без сопровождения владельца. Отправка
                осуществляется из Санкт-Петербурга на прямых пассажирских
                рейсах, в специально оборудованных отсеках, исключающих
                переохлаждение и травмы. Вам не нужно покупать билет или
                оформлять перевозку в аэропорту — сотрудники компании
                самостоятельно оформят все документы и обеспечат комфортную
                отправку питомца.
              </p>
              <p>Для перевозки требуется:</p>
              <ul>
                <li>ветеринарное свидетельство;</li>
                <li>ветеринарный паспорт;</li>
                <li>клетка с вентиляцией и возможностью запирания;</li>
                <li>абсорбирующий материал на дно клетки.</li>
              </ul>
              <p>
                Кроме того, Cargo Express выполняет авиаперевозки опасных
                грузов. Компания имеет все необходимые сертификаты и действует в
                соответствии с международными правилами ИКАО и ИАТА. Опасные
                грузы классифицируются на девять классов (от взрывчатых веществ
                до радиоактивных и прочих опасных материалов), для которых
                требуется специальная упаковка, маркировка и документация,
                обеспечивающие безопасность транспортировки.
              </p>
            </div>
          </div>
          <div class="service-item__content" data-tab="2">
            <div class="service-item__head">
              <h3 class="service-item__title" data-open-popup="service-nav-4">
                Авиаперевозки животных
                <Sprite name="chevron-right-bold" />
              </h3>
            </div>
            <div class="template service-item__text">
              <p>
                Компания Cargo-express имеют большой опыт в организации
                чартерных программ и перевозке специфичных, крупногабаритных и
                тяжеловесных грузов. Прямые агентские соглашения с российскими и
                международными авиакомпаниями, позволяют нам организовывать
                грузовые чартерные рейсы, отвечающие самым строгим требованиям
                клиента.
              </p>
              <p>
                Компания Cargo Express специализируется на авиаперевозках
                домашних животных без сопровождения владельца. Отправка
                осуществляется из Санкт-Петербурга на прямых пассажирских
                рейсах, в специально оборудованных отсеках, исключающих
                переохлаждение и травмы. Вам не нужно покупать билет или
                оформлять перевозку в аэропорту — сотрудники компании
                самостоятельно оформят все документы и обеспечат комфортную
                отправку питомца.
              </p>
              <p>Для перевозки требуется:</p>
              <ul>
                <li>ветеринарное свидетельство;</li>
                <li>ветеринарный паспорт;</li>
                <li>клетка с вентиляцией и возможностью запирания;</li>
                <li>абсорбирующий материал на дно клетки.</li>
              </ul>
              <p>
                Кроме того, Cargo Express выполняет авиаперевозки опасных
                грузов. Компания имеет все необходимые сертификаты и действует в
                соответствии с международными правилами ИКАО и ИАТА. Опасные
                грузы классифицируются на девять классов (от взрывчатых веществ
                до радиоактивных и прочих опасных материалов), для которых
                требуется специальная упаковка, маркировка и документация,
                обеспечивающие безопасность транспортировки.
              </p>
            </div>
            <div class="service-item__docs">
              <Doc>
                Заявка на перевозку груза авиационным транспортом (doc, 28 кб.)
              </Doc>
              <Doc>
                Заявка на перевозку груза автомобильным транспортом (doc, 27
                кб.)
              </Doc>
              <Doc>
                Заявка на перевозку груза морским транспортом (doc, 28 кб.)
              </Doc>
            </div>
          </div>
          <div class="service-item__content" data-tab="3">
            <div class="service-item__head">
              <h3 class="service-item__title" data-open-popup="service-nav-4">
                Рефрижераторные перевозки по России
                <Sprite name="chevron-right-bold" />
              </h3>
            </div>
            <div class="template service-item__text">
              <p>
                Компания Cargo-express имеют большой опыт в организации
                чартерных программ и перевозке специфичных, крупногабаритных и
                тяжеловесных грузов. Прямые агентские соглашения с российскими и
                международными авиакомпаниями, позволяют нам организовывать
                грузовые чартерные рейсы, отвечающие самым строгим требованиям
                клиента.
              </p>
              <p>
                Компания Cargo Express специализируется на авиаперевозках
                домашних животных без сопровождения владельца. Отправка
                осуществляется из Санкт-Петербурга на прямых пассажирских
                рейсах, в специально оборудованных отсеках, исключающих
                переохлаждение и травмы. Вам не нужно покупать билет или
                оформлять перевозку в аэропорту — сотрудники компании
                самостоятельно оформят все документы и обеспечат комфортную
                отправку питомца.
              </p>
              <p>Для перевозки требуется:</p>
              <ul>
                <li>ветеринарное свидетельство;</li>
                <li>ветеринарный паспорт;</li>
                <li>клетка с вентиляцией и возможностью запирания;</li>
                <li>абсорбирующий материал на дно клетки.</li>
              </ul>
              <p>
                Кроме того, Cargo Express выполняет авиаперевозки опасных
                грузов. Компания имеет все необходимые сертификаты и действует в
                соответствии с международными правилами ИКАО и ИАТА. Опасные
                грузы классифицируются на девять классов (от взрывчатых веществ
                до радиоактивных и прочих опасных материалов), для которых
                требуется специальная упаковка, маркировка и документация,
                обеспечивающие безопасность транспортировки.
              </p>
            </div>
            <div class="service-item__docs">
              <Doc>
                Заявка на перевозку груза авиационным транспортом (doc, 28 кб.)
              </Doc>
              <Doc>
                Заявка на перевозку груза автомобильным транспортом (doc, 27
                кб.)
              </Doc>
              <Doc>
                Заявка на перевозку груза морским транспортом (doc, 28 кб.)
              </Doc>
            </div>
          </div>
          <div class="service-item__content" data-tab="4">
            <div class="service-item__head">
              <h3 class="service-item__title" data-open-popup="service-nav-4">
                Перевозка опасных грузов
                <Sprite name="chevron-right-bold" />
              </h3>
            </div>
            <div class="template service-item__text">
              <p>
                Компания Cargo-express имеют большой опыт в организации
                чартерных программ и перевозке специфичных, крупногабаритных и
                тяжеловесных грузов. Прямые агентские соглашения с российскими и
                международными авиакомпаниями, позволяют нам организовывать
                грузовые чартерные рейсы, отвечающие самым строгим требованиям
                клиента.
              </p>
              <p>
                Компания Cargo Express специализируется на авиаперевозках
                домашних животных без сопровождения владельца. Отправка
                осуществляется из Санкт-Петербурга на прямых пассажирских
                рейсах, в специально оборудованных отсеках, исключающих
                переохлаждение и травмы. Вам не нужно покупать билет или
                оформлять перевозку в аэропорту — сотрудники компании
                самостоятельно оформят все документы и обеспечат комфортную
                отправку питомца.
              </p>
              <p>Для перевозки требуется:</p>
              <ul>
                <li>ветеринарное свидетельство;</li>
                <li>ветеринарный паспорт;</li>
                <li>клетка с вентиляцией и возможностью запирания;</li>
                <li>абсорбирующий материал на дно клетки.</li>
              </ul>
              <p>
                Кроме того, Cargo Express выполняет авиаперевозки опасных
                грузов. Компания имеет все необходимые сертификаты и действует в
                соответствии с международными правилами ИКАО и ИАТА. Опасные
                грузы классифицируются на девять классов (от взрывчатых веществ
                до радиоактивных и прочих опасных материалов), для которых
                требуется специальная упаковка, маркировка и документация,
                обеспечивающие безопасность транспортировки.
              </p>
            </div>
            <div class="service-item__docs">
              <Doc>
                Заявка на перевозку груза авиационным транспортом (doc, 28 кб.)
              </Doc>
              <Doc>
                Заявка на перевозку груза автомобильным транспортом (doc, 27
                кб.)
              </Doc>
              <Doc>
                Заявка на перевозку груза морским транспортом (doc, 28 кб.)
              </Doc>
            </div>
          </div>
        </div>
        <div class="popup service-item-nav" data-popup="service-nav-4">
          <div class="popup__bg" data-close-popup></div>
          <div class="popup__container">
            <button type="button" class="popup__close" data-close-popup>
              <Sprite name="close" />
            </button>
            <div class="service-item-nav__list" data-tab-btns>
              <button type="button" class="service-item-nav__btn _tab-active" data-tab-btn="1">
                Особенные перевозки
              </button>
              <button type="button" class="service-item-nav__btn" data-tab-btn="2">
                Авиаперевозки животных
              </button>
              <button type="button" class="service-item-nav__btn" data-tab-btn="3">
                Рефрижераторные перевозки по России
              </button>
              <button type="button" class="service-item-nav__btn" data-tab-btn="4">
                Перевозка опасных грузов
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Экспресс доставка МСК-СПб-МСК -->
    <div id="service-5" class="service-item">
      <div class="service-item__bg">
        <img src="./img/service-item-bg-3.svg" alt="" />
      </div>
      <div class="container service-item__wrapper">
        <div class="service-item__container">
          <div class="service-item__icon">
            <img src="./img/service-icon-5.svg" alt="" />
          </div>
          <div class="service-item__content">
            <div class="service-item__head">
              <h3 class="service-item__title">Экспресс доставка МСК-СПб-МСК</h3>
            </div>
            <div class="template service-item__text">
              <p>
                Экспресс-доставка Москва — Санкт-Петербург — Москва — это
                быстрое и надежное решение для отправки документов, посылок и
                грузов между двумя столицами. Компания Cargo Express
                обеспечивает доставку «от двери до двери» в кратчайшие сроки,
                используя собственный транспорт и отлаженную логистическую
                систему.
              </p>
              <p>
                Мы гарантируем сохранность груза, точное соблюдение сроков и
                удобное отслеживание отправлений. Все этапы перевозки полностью
                контролируются нашими специалистами, а оформление документов
                занимает минимум времени.
              </p>
              <p>В спектр услуг входит:</p>
              <ul>
                <li>экспресс-доставка документов, посылок и грузов;</li>
                <li>забор и доставка «от двери до двери»;</li>
                <li>оформление транспортных документов;</li>
                <li>возможность страхования отправления;</li>
                <li>индивидуальные условия для корпоративных клиентов.</li>
              </ul>
              <p>
                Сотрудничая с Cargo Express, вы экономите время, получаете
                высокий уровень сервиса и уверенность, что ваш груз прибудет
                точно в срок.
              </p>
            </div>
            <div class="service-item__docs">
              <Doc>Тарифы на экспресс доставка МСК-СПб-МСК (xls, 125 кб.)</Doc>
            </div>
          </div>
        </div>
        <div class="service-item__img">
          <img src="./img/main-serv-3.png" alt="" />
        </div>
      </div>
    </div>
    <!-- Таможенное оформление -->
    <div id="service-6" class="service-item">
      <div class="container service-item__wrapper">
        <div class="service-item__container">
          <div class="service-item__icon">
            <img src="./img/service-icon-6.svg" alt="" />
          </div>
          <div class="service-item__content">
            <div class="service-item__head">
              <h3 class="service-item__title">Таможенное оформление</h3>
            </div>
            <div class="template service-item__text">
              <p>
                Все товары при международной перевозке проходят таможенное
                оформление, порядок которого зависит от вида транспорта,
                номенклатуры товара и статуса декларанта. Компания
                «Груз-экспресс» имеет большой опыт в проведении таможенных
                процедур и помогает участникам ВЭД оперативно оформлять ввозимые
                и вывозимые грузы. Благодаря электронному декларированию мы
                ускоряем процесс оформления, обеспечивая клиентам быстрый и
                качественный сервис.
                <br />
                Наша миссия — поддерживать развитие бизнеса, а также помогать
                физическим лицам в декларировании личных вещей. Мы предлагаем
                полный спектр услуг по таможенному оформлению импорта и экспорта
                на Пулковском таможенном посту.
              </p>
              <p>Что входит:</p>
              <ul>
                <li>оформление под печатью таможенного брокера;</li>
                <li>определение кода по ТНВЭД РФ;</li>
                <li>оценку таможенной стоимости;</li>
                <li>расчет и уплату пошлин и налогов;</li>
                <li>подготовку внешнеторгового контракта;</li>
                <li>представление клиента в таможенных органах РФ.</li>
              </ul>
              <p>
                Работая с нами, вы получаете профессиональное сопровождение,
                индивидуальный подход, защиту интересов и экономию времени и
                средств.
              </p>
            </div>
          </div>
        </div>
        <div class="service-item__img">
          <img src="./img/main-serv-6.png" alt="" />
        </div>
      </div>
    </div>
    <!-- Склад и хранение -->
    <div id="service-7" class="service-item">
      <div class="container service-item__wrapper">
        <div class="service-item__container">
          <div class="service-item__icon">
            <img src="./img/service-icon-7.svg" alt="" />
          </div>
          <div class="service-item__content">
            <div class="service-item__head">
              <h3 class="service-item__title">Склад и хранение</h3>
            </div>
            <div class="template service-item__text">
              <p>
                Компания Cargo Express предлагает услугу ответственного хранения
                грузов на оборудованных складах в Москве и Санкт-Петербурге для
                юридических и физических лиц.
              </p>
              <p>Это удобное и безопасное решение, если:</p>
              <ul>
                <li>отсутствует собственная площадь для хранения;</li>
                <li>аренда или содержание склада нецелесообразны;</li>
                <li>нет возможности обеспечить безопасность грузу;</li>
                <li>хранение требуется временно или периодически.</li>
              </ul>
              <p>
                Мы обеспечиваем обустроенные площади, современное оборудование,
                механизмы для разгрузки и перемещения, а также квалифицированный
                персонал. Cargo Express гарантирует минимальные тарифы, полную
                сохранность грузов, соблюдение условий хранения и прозрачный
                учет.
              </p>
              <p>
                Размещение возможно на открытых площадках, под навесом или в
                отапливаемых помещениях. Все склады находятся под круглосуточной
                охраной и видеонаблюдением. Благодаря многолетнему опыту в
                логистике, оперативной работе и удобному расположению у
                транспортных развязок, Cargo Express обеспечивает надежное и
                выгодное хранение грузов любого типа.
              </p>
            </div>
            <div class="service-item__docs">
              <Doc>Тарифы на хранение и услуги (xls, 125 кб.)</Doc>
            </div>
          </div>
        </div>
        <div class="service-item__img">
          <img src="./img/main-serv-7.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>