.chip {
  padding: 1rem 2rem;
  border-radius: 4rem;
  border: 0.1rem solid $G1;
  background-color: $backgroud;
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 400;
  color: $G1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  @include breakpoint($xs-bp) {
    font-size: 1.6rem;
  }
}