.career {
  margin: 10rem 0rem 15rem;

  @include breakpoint($xs-bp) {
    margin: 2.4rem 0rem 12rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 6rem;

    @include breakpoint($xs-bp) {
      gap: 4rem;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include breakpoint($xs-bp) {
      gap: 1rem;
    }
  }

  &-nav {
    &__item {
      padding: 1rem;
      font-size: 2rem;
      font-weight: 400;
      color: $G2;
      transition: .3s;

      @include breakpoint($xs-bp) {
        font-size: 1.6rem;
      }

      &._tab-active {
        color: $G1;
      }
    }

    .swiper-wrapper {
      align-items: stretch;
    }

    .swiper-slide {
      width: fit-content;
      padding-right: 1rem;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    border-top: 0.1rem solid $G3;
  }

  &-item {
    border-bottom: 0.1rem solid $G3;
    transition: .5s;

    &[data-tab] {
      &:not(._tab-active) {
        display: none;
      }
    }

    &[data-dropdown] {
      &:not(._dropped) {
        .career-item__drop {
          grid-template-rows: 0fr;
          padding-bottom: 0;
          opacity: 0;
          pointer-events: none;
        }
      }

      &._dropped {
        border-bottom-color: $G1;

        .career-item__btn {
          svg {
            rotate: 135deg;
          }
        }
      }
    }

    &__head {
      position: relative;
      padding: 3rem;
      display: grid;
      grid-template-columns: 70.6rem 1fr auto;
      gap: 2.4rem;

      @include breakpoint($xs-bp) {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem 4rem 2rem 0rem;
      }
    }

    &__title {
      font-size: 3.4rem;
      font-weight: 500;

      @include breakpoint($xs-bp) {
        font-size: 2.4rem;
      }
    }

    &__region {
      font-size: 3rem;
      font-weight: 500;
      color: $G2;

      @include breakpoint($xs-bp) {
        font-size: 2rem;
      }
    }

    &__btn {
      min-height: unset;
      width: 4.4rem;
      height: 4.4rem;
      border-radius: 50%;
      padding: 0;

      @include breakpoint($xs-bp) {
        position: absolute;
        top: 50%;
        right: 0;
        width: 3.4rem;
        height: 3.4rem;
        translate: 0 -50%;
      }

      svg {
        width: 2.4rem;
        height: 2.4rem;
        transition: rotate .5s;
      }
    }

    &__drop {
      display: grid;
      grid-template-rows: 1fr;
      transition: .6s;
      overflow: hidden;
      padding: 0rem 3rem 3rem 76rem;

      @include breakpoint($xs-bp) {
        padding: 0rem 0rem 3rem;
      }
    }

    &__container {
      min-height: 0;
      display: flex;
      flex-direction: column;
      gap: 3rem;

      @include breakpoint($xs-bp) {
        gap: 2rem;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      padding-top: 3rem;
      border-top: 0.1rem solid $G3;

      @include breakpoint($xs-bp) {
        padding-top: 2rem;
      }

      &-title {
        font-size: 3rem;
        font-weight: 500;

        @include breakpoint($xs-bp) {
          font-size: 2rem;
        }
      }

      &-text {
        font-size: 2rem;
        font-weight: 400;

        @include breakpoint($xs-bp) {
          font-size: 1.6rem;
        }
      }
    }
  }
}