---
import { Sprite } from "astro-icon";

interface Props extends astroHTML.JSX.HTMLAttributes {
  label?: string;
  className?: string;
  placeholder?: string;
  inputProps?: astroHTML.JSX.InputHTMLAttributes;
}

const { className, placeholder, label, inputProps = {}, ...rest } = Astro.props;
---

<div class="select" class:list={[className]} {...rest}>
  {label && <span class="select__label">{label}</span>}
  <div class="select__container">
    <button type="button" class="text-btn select__btn" data-dropdown-btn>
      <span class="select__btn-text" data-btn-text>
        {placeholder}
      </span>
      <span class="select__btn-icon">
        <Sprite name="chevron-down" />
      </span>
    </button>

    <div class="select__drop">
      <div class="select__content">
        <slot />
      </div>
    </div>
  </div>
</div>

<!-- <label class="text-btn select-item" data-item>
  <input hidden type="radio" name="1" />
  <span class="select-item__text" data-text></span>
  <span class="select-item__icon"></span>
</label> -->
