---
import Career from "@components/_pageCareer/Career/Career.astro";
import Breadcrumbs from "@components/_UI/Breadcrumbs/Breadcrumbs.astro";
import Feedback from "@components/Feedback/Feedback.astro";
import Layout from "src/layouts/Layout.astro";
---

<Layout title="Карьера">
  <div class="breadcrumbs-container">
    <div class="container">
      <Breadcrumbs items={["Главная", "Карьера"]} />
    </div>
  </div>
  <Career />
  <Feedback />
</Layout>
