---
import MainAbout from "@components/_pageMain/MainAbout/MainAbout.astro";
import MainBanner from "@components/_pageMain/MainBanner/MainBanner.astro";
import MainServ from "@components/_pageMain/MainServ/MainServ.astro";
import Feedback from "@components/Feedback/Feedback.astro";
import PageNav from "@components/PageNav/PageNav.astro";
import FullPage from "src/layouts/FullPage.astro";
import Header from "@components/Header/Header.astro";
import Footer from "@components/Footer/Footer.astro";

import Chip from "@components/_UI/Chip/Chip.astro";
import DefaultBtn from "@components/_UI/DefaultBtn/DefaultBtn.astro";
import PageNav from "@components/PageNav/PageNav.astro";
import FullPageNav from "@components/FullpageNav/FullPageNav.astro";
import { Sprite } from "astro-icon";
---

<FullPage title="Главная">
  <div class="main-serv__bg">
    <div class="main-serv__bg-img">
      <picture>
        <source media="(max-width: 768px)" srcset="./img/main-serv-bg-mob.svg" />
        <img src="./img/main-serv-bg.svg" alt="" />
      </picture>
    </div>
  </div>

  <div class="swiper fullpage-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide" data-hash="home">
        <Header />
        <MainBanner />

        <div class="container main-serv__container">
          <div class="main-serv__head">
            <Chip>Услуги</Chip>
          </div>

          <div class="main-serv__list"></div>
        </div>
      </div>

      <div class="main-serv__page swiper-slide" data-hash="delivery">
        <div class="main-serv__left">
          <div class="service-item__head">
            <h3 class="service-item__title">
              Грузоперевозки авиатранспортом: <svg astro-icon="chevron-right-bold">

                <use xlink:href="#astroicon:chevron-right-bold"></use>
              </svg>
            </h3>
          </div>
          <div class="template service-item__text">
            <p>
              Срочная доставка грузов в любые регионы практически из всех аэропортов страны
            </p>
            <ul>
              <li><b>Оптимальные маршруты по России и миру</b></li>
              <li><b>Более 30 лет надежного полета.</b> Наши специалисты видели в логистике всё. Средний стаж — 15 лет</li>
              <li><b>Не посредники.</b> Прямые соглашения с авиакомпаниями. Тарифы из первых рук</li>
              <li><b>Не роботы.</b> Личный менеджер 24/7: живой эксперт, который знает о вашем грузе всё и всегда на связи</li>
              <li>
                <b>Весь спектр сопутствующих услуг:</b> подбор и доставка от и до двери. Подготовка, упаковка и маркировка для перелета по всем авиастандартам
              </li>
              <li>
                <b>Оформление:</b> Бюрократию и страхование(при необходимости) берем на себя
              </li>
              <li>
                <b>Все категории грузов:</b> <a href="./services-page.html#service-2">Подробнее </a>
              </li>
              <li>
                Для экспедиторов и грузоотправителей: <br>
                Для грузов из СПб и Москвы, в отсутствие места на рейсы в нужном направлении, существует опция оперативной переброски груза между двумя столицами в тот аэропорт, где место на ближайший рейс есть. Это возможно благодаря регулярному движению наших сборных грузовиков с экипажем из двух
                водителей, «через ночь», без потери времени. <a href="./services-page.html#service-2">Подробнее </a>
              </li>
            </ul>
          </div>

          <div class="service-buttons">
            <a href="#home" class="default-btn">
              Рассчитать
              <svg astro-icon="arrow-up-right">
                <use xlink:href="#astroicon:arrow-up-right"></use>
              </svg>
            </a>
            <button class="default-btn">
              Заказать
              <svg astro-icon="arrow-up-right">
                <use xlink:href="#astroicon:arrow-up-right"></use>
              </svg>
            </button>
            <button class="default-btn default-btn_secondary">
              Связаться
              <svg astro-icon="arrow-up-right">
                <use xlink:href="#astroicon:arrow-up-right"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="main-serv-card" id="service-2">
          <div class="main-serv-card__img">
            <img src="./img/main-serv-2.png" alt="" />
          </div>
          <div class="main-serv-card__inner">
            <h5 class="main-serv-card__title">Авиаперевозки грузов</h5>
            <p class="main-serv-card__text">
              Срочная доставка грузов в любые регионы России и за рубеж
              с максимальной скоростью и безопасностью.
            </p>
          </div>
          <DefaultBtn component="a" href="./services-page.html#service-2" color="secondary">
            Подробнее
          </DefaultBtn>
        </div>
      </div>
      <div class="main-serv__page swiper-slide" data-hash="avto">
        <div class="main-serv__left">
          <div class="service-item__head">
            <h3 class="service-item__title">
              Автомобильные перевозки <svg astro-icon="chevron-right-bold">

                <use xlink:href="#astroicon:chevron-right-bold"></use>
              </svg>
            </h3>
          </div>
          <div class="template service-item__text">
            <p>
              <b>Доставка грузов по всей России, а также международные рейсы: страны Европы, СНГ, Турция и Китай.</b>
            </p>
            <ul>
              <li>
                <b>Магистральные перевозки (FTL):</b> Оперативная доставка выделенным транспортом. Постоянно курсируем по ключевым экономическим артериям: Санкт-Петербург, Москва, Казань, Самара, Ростов-на-Дону, Краснодар, Екатеринбург. <br>
                Магистральный флот — наша собственная техника, которая базируется в Москве и Санкт-Петербурге. Никаких случайных машин с биржи.
              </li>
              <li>
                <b>Общий парк авто - свыше 70 единиц:</b> Подберем идеальный объем под вашу задачу без переплаты за пустой кузов:
                <ul>
                  <li>
                    Тяжелый класс (до 20 тонн): еврофуры 90 куб.м (тенты и цельнометаллические), вместительные сцепки на 80 и 110 куб.м.
                  </li>
                  <li>
                    Малый и средний класс: грузовые микроавтобусы (до 1.5 тонн) и цельнометаллические фургоны объемом до 30 куб.м (до 3.5 тонн), в том числе оснащённые гидробортом.
                  </li>
                </ul>
              </li>
              <li>
                <b>Своя ремзона.</b> Мы сами обслуживаем каждый тягач перед рейсом. Техническая исправность машин — это наша главная страховка от срыва ваших сроков.
              </li>
              <li>
                <b>Сборные грузы (LTL):</b> Надежная доставка небольших партий грузов по основным региональным центрам страны регулярными авторейсами
              </li>
              <li>
                <b>Инновации:</b> недавно в группу компаний Карго экспресс, вошло автотранспортное предприятие «Две Столицы», с парком более десятка магистральных тягачей использующих экологически чистое топливо – метан.
              </li>
              <li>
                <b>МСК-СПб:</b> Ежедневно отправляем несколько собственных грузовиков со сборными грузами по маршруту МСК – СПБ – МСК. За счет регулярного ночного сообщения и экипажа из двух водителей, мы доставляем груз «через ночь» — быстрее большинства сетевых конкурентов. <a
                  href="services-page.html#service-5">Подробнее</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="main-serv-card" id="service-1">
          <div class="main-serv-card__img">
            <img src="./img/main-serv-1.png" alt="" />
          </div>
          <div class="main-serv-card__inner">
            <h5 class="main-serv-card__title">Автомобильные грузоперевозки</h5>
            <p class="main-serv-card__text">
              Быстрая и гибкая доставка грузов любого объёма и вида по всей России
              с контролем на каждом этапе.
            </p>
          </div>
          <DefaultBtn component="a" href="./services-page.html#service-1" color="secondary">
            Подробнее
          </DefaultBtn>
        </div>
      </div>
      <div class="main-serv__page swiper-slide" data-hash="express">
        <div class="main-serv__left">
          <div class="service-item__head">
            <h3 class="service-item__title">Москва и Санкт-Петербург</h3>
          </div>
          <div class="template service-item__text">
            <h4>ДОСТАВКА МЕЖДУ ДВУМЯ СТОЛИЦАМИ</h4>
            <ul>
              <li>
                <b>Доставляем любой груз от 1 кг до 10 тонн на следующий рабочий день. Гарантировано.</b>
              </li>
              <li>
                <b>Никакой «медленной» логистики.</b> В отличие от большинства конкурентов, у нас нет услуги с транзитным временем в 2-3 дня, Все заявки, принятые до 14:00, забираются и уезжают сегодня.
              </li>
              <li>
                <b>Основное конкурентное преимущество</b> - технология «Нон-стоп»: Каждый вечер в 19:00 с наших терминалов в Москве и Санкт-Петербурге выходят по нескольку больших грузовиков, заполненных группажом (сборным грузом). Машины идут по скоростной трассе М11 без остановок и прибывают на
                терминал назначения в 7:00 – 8:00 утра. Магистральная часть перевозки между терминалами всегда осуществляются экипажами из двух водителей. Благодаря этому преимуществу, мы выдерживаем технологию доставки “через ночь” даже в сложных погодных условиях.
              </li>
              <li>
                <b>Техническое преимущество:</b> Рейсы выполняются <b>цельнометаллическими сцепками (40 + 40 куб.м)</b>. На терминале прибытия мы отцепляем прицеп для расконсолидации, а тягач уезжает сдавать крупный груз напрямую клиентам, во избежание лишней перевалки и перегрузки. В этом случае
                заказчик получает выделенный ускоренный транспорт при цене “сборника”
              </li>
              <li>
                <b>Две столицы — два хаба.</b> Крупнейшие подразделения нашей компании со своими складами и инфраструктурой находятся в Санкт-Петербурге и Москве. Это позволяет полностью контролировать процесс без привлечения третьих лиц.
              </li>
              <li>
                <b>“Последняя миля”</b>. Большой собственный парк малотоннажного разнокалиберного автотранспорта в обеих столицах обеспечивает оперативный подбор и доставку грузов по городу и пригородам. Логистика на местах распределена по секторам — каждая машина четко отрабатывает свой район.
              </li>
              <li>
                <b>Условия доставки на ваш выбор:</b> <br>
                «Дверь – Дверь» «Склад-Дверь» «Дверь-Склад» – пикап и «последняя миля».
                «Склад-Склад» — самостоятельно сдать или получить груз на наших терминалах.
              </li>
              <li>
                <b>Сопутствующие услуги:</b> профессиональная упаковка, паллетирование, маркировка, грузчики, страхование.
              </li>

              <h5>Более 30 лет отработки качества и надежности выполнения этой услуги.  Мы везем, пока другие спят. </h5>
            </ul>
          </div>
        </div>
        <div class="main-serv-card" id="service-3">
          <div class="main-serv-card__img">
            <img src="./img/main-serv-3.png" alt="" />
          </div>
          <div class="main-serv-card__inner">
            <h5 class="main-serv-card__title">Экспресс доставка МСК-СПб-МСК</h5>
            <p class="main-serv-card__text">
              Быстрая и надёжная доставка грузов между Москвой и Санкт-Петербургом
              с гарантией сроков.
            </p>
          </div>
          <DefaultBtn component="a" href="./services-page.html#service-3" color="secondary">
            Подробнее
          </DefaultBtn>
        </div>
      </div>
      <div class="main-serv__page swiper-slide" data-hash="special">
        <div class="main-serv__left">
          <h3 class="service-item__title">
            Особенные перевозки <svg astro-icon="chevron-right-bold">

              <use xlink:href="#astroicon:chevron-right-bold"></use>
            </svg>
          </h3>
          <div class="template service-item__text">
            <p>
              Компания Cargo-express имеют большой опыт в организации
              чартерных программ и перевозке специфичных, крупногабаритных и
              тяжеловесных грузов. Прямые агентские соглашения с российскими и
              международными авиакомпаниями, позволяют нам организовывать
              грузовые чартерные рейсы, отвечающие самым строгим требованиям
              клиента.
            </p>
            <p>
              Компания Cargo Express специализируется на авиаперевозках
              домашних животных без сопровождения владельца. Отправка
              осуществляется из Санкт-Петербурга на прямых пассажирских
              рейсах, в специально оборудованных отсеках, исключающих
              переохлаждение и травмы. Вам не нужно покупать билет или
              оформлять перевозку в аэропорту — сотрудники компании
              самостоятельно оформят все документы и обеспечат комфортную
              отправку питомца.
            </p>
            <p>Для перевозки требуется:</p>
            <ul>
              <li>ветеринарное свидетельство;</li>
              <li>ветеринарный паспорт;</li>
              <li>клетка с вентиляцией и возможностью запирания;</li>
              <li>абсорбирующий материал на дно клетки.</li>
            </ul>
            <p>
              Кроме того, Cargo Express выполняет авиаперевозки опасных
              грузов. Компания имеет все необходимые сертификаты и действует в
              соответствии с международными правилами ИКАО и ИАТА. Опасные
              грузы классифицируются на девять классов (от взрывчатых веществ
              до радиоактивных и прочих опасных материалов), для которых
              требуется специальная упаковка, маркировка и документация,
              обеспечивающие безопасность транспортировки.
            </p>
          </div>
        </div>
        <div class="main-serv-card" id="service-4">
          <div class="main-serv-card__img">
            <img src="./img/main-serv-4.png" alt="" />
          </div>
          <div class="main-serv-card__inner">
            <h5 class="main-serv-card__title">Особенные грузоперевозки</h5>
            <p class="main-serv-card__text">
              Доставка крупногабаритных и тяжеловесных грузов.
            </p>
          </div>
          <DefaultBtn component="a" href="./services-page.html#service-4" color="secondary">
            Подробнее
          </DefaultBtn>
        </div>
      </div>
      <div class="main-serv__page swiper-slide" data-hash="international">
        <div class="main-serv__left">
          <div class="service-item__head">
            <h3 class="service-item__title">
              Международные перевозки <svg astro-icon="chevron-right-bold">

                <use xlink:href="#astroicon:chevron-right-bold"></use>
              </svg>
            </h3>
          </div>
          <div class="template service-item__text">
            <p>
              Международные грузоперевозки – это уже давно не роскошь, а
              обыденный рабочий процесс деятельности многих российских
              компаний. Международное сотрудничество со всеми странами мира
              развивается стремительными темпами и с такой же стремительностью
              возрастает спрос на качественные комплексные услуги в сфере
              доставки и оформления грузов/товаров. Транснациональные компании
              из разных уголков планеты предпочитают доверить доставку
              опытному игроку рынка международных грузоперевозок.
            </p>
            <p>
              Компания «CARGO-EXPRESS» имеет практический опыт в осуществлении
              доставок разного уровня сложности. Когда необходимы
              интернациональные перевозки из стран Европы, обеих Америк, Азии
              у специалистов компании не возникает никаких сложностей в их
              организации. К основным видам доставки, которые предлагают
              специалист компании, относятся:
            </p>
            <ul>
              <li>Авиаперевозки</li>
              <li>Доставка морским видом транспорта</li>
              <li>Железнодорожные перевозки</li>
              <li>Автомобильная доставка.</li>
            </ul>
          </div>
        </div>
        <div class="main-serv-card" id="service-5">
          <div class="main-serv-card__img">
            <img src="./img/main-serv-5.png" alt="" />
          </div>
          <div class="main-serv-card__inner">
            <h5 class="main-serv-card__title">Международные перевозки</h5>
            <p class="main-serv-card__text">
              Быстрая и надёжная доставка грузов по всему миру с гарантией сроков.
            </p>
          </div>
          <DefaultBtn component="a" href="./services-page.html#service-5" color="secondary">
            Подробнее
          </DefaultBtn>
        </div>
      </div>
      <div class="main-serv__page swiper-slide" data-hash="custom">
        <div class="main-serv__left">
          <div class="service-item__head">
            <h3 class="service-item__title">Таможенное оформление</h3>
          </div>
          <div class="template service-item__text">
            <p>
              Все товары при международной перевозке проходят таможенное
              оформление, порядок которого зависит от вида транспорта,
              номенклатуры товара и статуса декларанта. Компания
              «Груз-экспресс» имеет большой опыт в проведении таможенных
              процедур и помогает участникам ВЭД оперативно оформлять ввозимые
              и вывозимые грузы. Благодаря электронному декларированию мы
              ускоряем процесс оформления, обеспечивая клиентам быстрый и
              качественный сервис.
              <br>
              Наша миссия — поддерживать развитие бизнеса, а также помогать
              физическим лицам в декларировании личных вещей. Мы предлагаем
              полный спектр услуг по таможенному оформлению импорта и экспорта
              на Пулковском таможенном посту.
            </p>
            <p>Что входит:</p>
            <ul>
              <li>оформление под печатью таможенного брокера;</li>
              <li>определение кода по ТНВЭД РФ;</li>
              <li>оценку таможенной стоимости;</li>
              <li>расчет и уплату пошлин и налогов;</li>
              <li>подготовку внешнеторгового контракта;</li>
              <li>представление клиента в таможенных органах РФ.</li>
            </ul>
            <p>
              Работая с нами, вы получаете профессиональное сопровождение,
              индивидуальный подход, защиту интересов и экономию времени и
              средств.
            </p>
          </div>
        </div>
        <div class="main-serv-card" id="service-6">
          <div class="main-serv-card__img">
            <img src="./img/main-serv-6.png" alt="" />
          </div>
          <div class="main-serv-card__inner">
            <h5 class="main-serv-card__title">Таможенное оформление</h5>
            <p class="main-serv-card__text">
              Быстрое и квалифицированное оформление всех необходимых документов
              для международных перевозок.
            </p>
          </div>
          <DefaultBtn component="a" href="./services-page.html#service-6" color="secondary">
            Подробнее
          </DefaultBtn>
        </div>
      </div>
      <div class="main-serv__page swiper-slide" data-hash="storage">
        <div class="main-serv__left">
          <div class="service-item__head">
            <h3 class="service-item__title">Склад и хранение</h3>
          </div>
          <div class="template service-item__text">
            <p>
              Компания Cargo Express предлагает услугу ответственного хранения
              грузов на оборудованных складах в Москве и Санкт-Петербурге для
              юридических и физических лиц.
            </p>
            <p>Это удобное и безопасное решение, если:</p>
            <ul>
              <li>отсутствует собственная площадь для хранения;</li>
              <li>аренда или содержание склада нецелесообразны;</li>
              <li>нет возможности обеспечить безопасность грузу;</li>
              <li>хранение требуется временно или периодически.</li>
            </ul>
            <p>
              Мы обеспечиваем обустроенные площади, современное оборудование,
              механизмы для разгрузки и перемещения, а также квалифицированный
              персонал. Cargo Express гарантирует минимальные тарифы, полную
              сохранность грузов, соблюдение условий хранения и прозрачный
              учет.
            </p>
            <p>
              Размещение возможно на открытых площадках, под навесом или в
              отапливаемых помещениях. Все склады находятся под круглосуточной
              охраной и видеонаблюдением. Благодаря многолетнему опыту в
              логистике, оперативной работе и удобному расположению у
              транспортных развязок, Cargo Express обеспечивает надежное и
              выгодное хранение грузов любого типа.
            </p>
          </div>
        </div>
        <div class="main-serv-card" id="service-7">
          <div class="main-serv-card__img">
            <img src="./img/main-serv-7.png" alt="" />
          </div>
          <div class="main-serv-card__inner">
            <h5 class="main-serv-card__title">Склад и хранение</h5>
            <p class="main-serv-card__text">
              Надежные решения для хранения вашего груза с учетом всех требований
              и условий.
            </p>
          </div>
          <DefaultBtn component="a" href="./services-page.html#service-7" color="secondary">
            Подробнее
          </DefaultBtn>
        </div>
      </div>

      <div class="main-serv__page swiper-slide" data-hash="contact">
        <MainAbout />
      </div>

      <div class="swiper-slide" data-hash="call">
        <Feedback />
      </div>


      <div class="swiper-slide footer-slide" data-hash="footer">
        <Footer />
      </div>
    </div>
  </div>

  <FullPageNav />
</FullPage>