---
import Doc from "@components/_UI/Doc/Doc.astro";
---

<section class="docs">
  <div class="container docs__wrapper">
    <h1 class="page-title docs__title">Документы</h1>
    <div class="docs__container">
      <div class="docs__list">
        <Doc>Форма заявки автомобильным и ЖД транспортом (doc, 81 кб.)</Doc>
        <Doc>Форма заявки перевозки авиационным транспортом (doc, 205 кб.)</Doc>
        <Doc>
          Федеральные авиационные правила "Безопасная перевозка опасных грузов и
          оружия по воздуху" (pdf, 275 кб.)
        </Doc>
        <Doc>
          Форма заявки автоперевозки Санкт-Петербург - Москва (doc, 84 кб.)
        </Doc>
        <Doc>
          Правила оформления документов на отправку груза для резидентов
          Республики Казахстан (pdf, 186 кб.)
        </Doc>
        <Doc>
          Правила оформления документов на отправку груза для физических лиц
          (pdf, 184 кб.)
        </Doc>
        <Doc>
          Правила оформления документов на отправку груза для юридических лиц
          (pdf, 183 кб.)
        </Doc>
        <Doc>Генеральная доверенность на отправку груза(doc, 36 кб.)</Doc>
        <Doc>
          Доверенность на отправку груза (для физических лиц, doc, 39 кб.)
        </Doc>
        <Doc>
          Доверенность на отправку груза (для юридических лиц, xls, 26 кб.)
        </Doc>
        <Doc>Опись вложений в груз (pdf, 170 кб.)</Doc>
        <Doc>
          Доверенность на получение груза (типовая форма М-2а, xls, 32 кб.)
        </Doc>
        <Doc>Договор Груз-Экспресс (doc, 76 кб.)</Doc>
        <Doc>Договор Груз-экспресс (doc, 87 кб.)</Doc>
      </div>
      <div class="docs__img">
        <img src="./img/docs.png" alt="" />
      </div>
    </div>
  </div>
</section>
