.main-serv {
  position: relative;
  padding: 12rem 0rem;

  @include breakpoint($xs-bp) {
    padding: 4rem 0rem;
  }

  &._visable {
    .main-serv__nav {
      .page-nav {
        pointer-events: all;
      }
    }
  }

  &:not(._visable) {
    .main-serv__nav {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__bg {
    position: fixed;
    top: -8rem;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: flex-start;
    opacity: 0;
    transition: opacity .5s;

    @include breakpoint($xs-bp) {
      top: -4rem;
    }

    [data-currentpage="storage"] &,
    [data-currentpage="custom"] &,
    [data-currentpage="international"] &,
    [data-currentpage="special"] &,
    [data-currentpage="express"] &,
    [data-currentpage="delivery"] &,
    [data-currentpage="avto"] & {
      opacity: 0.8;
    }

    &-img {
      position: fixed;
      top: -12rem;
      left: 0;
      width: 100%;

      @include breakpoint($xs-bp) {
        top: 2rem;
      }

      @include img() {
        object-fit: cover;
        object-position: center top;
        width: 100%;
        height: auto;

        @include breakpoint($xs-bp) {
          height: 100rem;
          object-position: calc(100% + 20rem) top;
        }
      }
    }
  }

  &__container {
    position: relative;
    z-index: 1;

    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

    display: none;

    @include breakpoint($xs-bp) {
      gap: 3.2rem;
      display: flex;
    }
  }

  &__nav {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 5rem;
    height: 100%;
    padding: 12rem 0rem;

    @include breakpoint($xs-bp) {
      right: 0;
      width: 100%;
      padding: 0;
      transition: .5s;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      pointer-events: none;
    }

    .page-nav {
      position: sticky;
      top: 10rem;
      right: 0rem;
      translate: 0 0;
    }
  }

  &__head {
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    width: 100%;
    max-width: 67.5rem;

    @include breakpoint($xs-bp) {
      position: static;
      min-height: unset;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5rem;
    margin-top: 5rem;

    @include breakpoint($xs-bp) {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
    }
  }

  &-card {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    gap: 3rem;
    padding: 3rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(3.4rem);
    box-shadow: 3rem 3rem 13rem #0000001A, 0rem 3rem 7rem #FFFFFF1A, 0rem 0rem 2rem #FFFFFF33;
    width: 55rem;
    flex: 0 0 auto;
    height: min-content;

    @include breakpoint($xs-bp) {
      gap: 2rem;
      width: 100%;
    }

    &__img {
      width: 100%;
      height: 10.3rem;
      border-radius: 1.6rem;
      overflow: hidden;

      @include breakpoint($xs-bp) {
        height: 8rem;
      }

      @include img() {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
      }
    }

    &__inner {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }

    &__title {
      font-size: 3.4rem;
      font-weight: 500;
      color: $PR1;

      @include breakpoint($xs-bp) {
        font-size: 2.4rem;
      }
    }

    &__text {
      font-size: 2rem;

      @include breakpoint($xs-bp) {
        font-size: 1.6rem;
      }
    }
  }
}

.main-serv__page {
  display: flex;
  align-items: center;
  gap: 5rem;
  justify-content: space-between;
  overflow: hidden;

  padding-left: 15rem;
  padding-right: 15rem;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint($xs-bp) {
    flex-direction: column;
    gap: 1.2rem;
    padding-left: 2rem;
    padding-right: 2rem;

  }
}

.fullpage-swiper {
  .swiper-wrapper {
    height: 100vh;
    height: 100svh;

    @include breakpoint($xs-bp) {
      height: auto;
      display: flex;
      gap: 2rem;
      flex-direction: column;
    }
  }

  .swiper-slide {
    min-height: 100vh;
    min-height: 100svh;
    overflow: hidden;

    @include breakpoint($xs-bp) {
      overflow: visible;
      min-height: 0;
      height: min-content;
    }
  }
}

.main-serv-card__img {
    height: auto;
  }