---
import Chip from "@components/_UI/Chip/Chip.astro";
import DefaultBtn from "@components/_UI/DefaultBtn/DefaultBtn.astro";
import PageNav from "@components/PageNav/PageNav.astro";
import { Sprite } from "astro-icon";
---

<section class="main-serv" id="main-serv">
  <div class="main-serv__bg">
    <div class="main-serv__bg-img">
      <picture>
        <source
          media="(max-width: 768px)"
          srcset="./img/main-serv-bg-mob.svg"
        />
        <img src="./img/main-serv-bg.svg" alt="" />
      </picture>
    </div>
  </div>

  <!-- <div class="main-serv__nav">
    <PageNav>
      <div
        class="swiper"
        data-swiper-init
        data-props='{"slidesPerView": "auto", "centeredSlides": true, "freeMode": true}'
      >
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="#service-1" class="page-nav__btn" data-nav-link>
              <Sprite name="truck" />
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#service-2" class="page-nav__btn" data-nav-link>
              <Sprite name="plane" />
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#service-3" class="page-nav__btn" data-nav-link>
              <Sprite name="globe-uk" />
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#service-4" class="page-nav__btn" data-nav-link>
              <Sprite name="maybe" />
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#service-5" class="page-nav__btn" data-nav-link>
              <Sprite name="truck-speed" />
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#service-6" class="page-nav__btn" data-nav-link>
              <Sprite name="flag" />
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#service-7" class="page-nav__btn" data-nav-link>
              <Sprite name="package" />
            </a>
          </div>
        </div>
      </div>
    </PageNav>
  </div> -->

  <div class="container main-serv__container">
    <div class="main-serv__head">
      <Chip>Услуги</Chip>
      <h3 class="block-title main-serv__title">
        Каждую услугу и мы адаптируем под ваши задачи, чтобы ваши грузы
        доставлялись быстрее и надёжнее
      </h3>
    </div>
    <div class="main-serv__list">
      <div class="main-serv-card" id="service-1">
        <div class="main-serv-card__img">
          <img src="./img/main-serv-1.png" alt="" />
        </div>
        <div class="main-serv-card__inner">
          <h5 class="main-serv-card__title">Автомобильные грузоперевозки</h5>
          <p class="main-serv-card__text">
            Быстрая и гибкая доставка грузов любого объёма и вида по всей России
            с контролем на каждом этапе.
          </p>
        </div>
        <DefaultBtn component="a" href="#" color="secondary">
          Подробнее
        </DefaultBtn>
      </div>
      <div class="main-serv-card" id="service-2">
        <div class="main-serv-card__img">
          <img src="./img/main-serv-2.png" alt="" />
        </div>
        <div class="main-serv-card__inner">
          <h5 class="main-serv-card__title">Авиаперевозки грузов</h5>
          <p class="main-serv-card__text">
            Срочная доставка грузов в любые регионы России и за рубеж
            с максимальной скоростью и безопасностью.
          </p>
        </div>
        <DefaultBtn component="a" href="#" color="secondary">
          Подробнее
        </DefaultBtn>
      </div>
      <div class="main-serv-card" id="service-3">
        <div class="main-serv-card__img">
          <img src="./img/main-serv-3.png" alt="" />
        </div>
        <div class="main-serv-card__inner">
          <h5 class="main-serv-card__title">Экспресс доставка МСК-СПб-МСК</h5>
          <p class="main-serv-card__text">
            Быстрая и надёжная доставка грузов между Москвой и Санкт-Петербургом
            с гарантией сроков.
          </p>
        </div>
        <DefaultBtn component="a" href="#" color="secondary">
          Подробнее
        </DefaultBtn>
      </div>
      <div class="main-serv-card" id="service-4">
        <div class="main-serv-card__img">
          <img src="./img/main-serv-4.png" alt="" />
        </div>
        <div class="main-serv-card__inner">
          <h5 class="main-serv-card__title">Особенные грузоперевозки</h5>
          <p class="main-serv-card__text">
            Доставка крупногабаритных и тяжеловесных грузов.
          </p>
        </div>
        <DefaultBtn component="a" href="#" color="secondary">
          Подробнее
        </DefaultBtn>
      </div>
      <div class="main-serv-card" id="service-5">
        <div class="main-serv-card__img">
          <img src="./img/main-serv-5.png" alt="" />
        </div>
        <div class="main-serv-card__inner">
          <h5 class="main-serv-card__title">Международные перевозки</h5>
          <p class="main-serv-card__text">
            Быстрая и надёжная доставка грузов по всему миру с гарантией сроков.
          </p>
        </div>
        <DefaultBtn component="a" href="#" color="secondary">
          Подробнее
        </DefaultBtn>
      </div>
      <div class="main-serv-card" id="service-6">
        <div class="main-serv-card__img">
          <img src="./img/main-serv-6.png" alt="" />
        </div>
        <div class="main-serv-card__inner">
          <h5 class="main-serv-card__title">Таможенное оформление</h5>
          <p class="main-serv-card__text">
            Быстрое и квалифицированное оформление всех необходимых документов
            для международных перевозок.
          </p>
        </div>
        <DefaultBtn component="a" href="#" color="secondary">
          Подробнее
        </DefaultBtn>
      </div>
      <div class="main-serv-card" id="service-7">
        <div class="main-serv-card__img">
          <img src="./img/main-serv-7.png" alt="" />
        </div>
        <div class="main-serv-card__inner">
          <h5 class="main-serv-card__title">Склад и хранение</h5>
          <p class="main-serv-card__text">
            Надежные решения для хранения вашего груза с учетом всех требований
            и условий.
          </p>
        </div>
        <DefaultBtn component="a" href="#" color="secondary">
          Подробнее
        </DefaultBtn>
      </div>
    </div>
  </div>
</section>
