.doc {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  transition: .3s;

  @include breakpoint($xs-bp) {
    font-size: 1.4rem;
    gap: 1.2rem;
  }

  @include hover {
    .doc__icon {
      background-color: $G1;
      border-color: $G1;
      color: $white;
    }
  }

  &__icon {
    flex: none;
    min-height: unset;
    width: 4.4rem;
    height: 4.4rem;
    padding: 0;
    border-radius: 50%;
    border-color: $PR2;

    @include breakpoint($xs-bp) {
      width: 3.6rem;
      height: 3.6rem;
    }

    svg {
      width: 2.4rem;
      height: 2.4rem;

      @include breakpoint($xs-bp) {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}