.doc {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: underline;
  text-underline-offset: 0.2em;
  transition: .3s;

  @include hover {
    text-decoration: none;
    color: $primary-hover;
  }

  @include breakpoint($xs-bp) {
    font-size: 1.4rem;
  }

  &__inner {
    display: flex;
    align-items: center;
    gap: 2.4rem;

    @include breakpoint($xs-bp) {
      gap: 1.6rem;
    }
  }

  &__type {
    flex: none;
    width: 3rem;
    height: 3rem;

    @include img() {
      object-fit: contain;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }

  &__icon {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(90deg, #C2B4E3, #8B8CC1);
    margin-left: auto;
    color: $text;

    svg {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}