---
import { Sprite } from "astro-icon";
import DefaultBtn from "../DefaultBtn/DefaultBtn.astro";

interface Props {}

const {} = Astro.props;
---

<a href="#" class="doc">
  <DefaultBtn component="span" color="white" class="doc__icon">
    <Sprite name="download" />
  </DefaultBtn>
  <span class="doc__text">
    <slot />
  </span>
</a>
