.footer {
  margin-bottom: 2rem;

  @include breakpoint($xs-bp) {
    margin-bottom: 6rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 5rem 3rem;
    border-radius: 3rem;
    background-color: $white;

    @include breakpoint($xs-bp) {
      padding: 3.2rem 2rem;
      gap: 4rem;
    }
  }

  &__container {
    display: flex;
    align-items: flex-start;
    gap: 7.5rem;

    @include breakpoint($xs-bp) {
      flex-direction: column;
      align-items: flex-start;
      gap: 3.2rem;
    }
  }

  &__logo {
    flex: none;
    width: 24.5rem;

    @include breakpoint($xs-bp) {
      width: 100%;
      height: 4.8rem;
    }

    @include img() {
      object-fit: contain;
      object-position: left center;
      width: 100%;
      height: 100%;
    }
  }

  &__inner {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 7.5rem;

    @include breakpoint($xs-bp) {
      flex-direction: column;
      gap: 3.2rem;
    }
  }

  &__bottom {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 4rem;

    @include breakpoint($xs-bp) {
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;
    }
  }

  &__legal {
    font-size: 2rem;
    line-height: 1.4rem;
    font-weight: 400;
    color: $G2;

    @include breakpoint($xs-bp) {
      font-size: 1.6rem;
    }

    &:is(a),
    a {
      transition: .3s;

      @include hover {
        color: $primary;
      }
    }
  }

  &__services {
    .footer-nav__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.2rem 1rem;

      @include breakpoint($xs-bp) {
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
      }
    }
  }

  &-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;

    @include breakpoint($xs-bp) {
      gap: 1.4rem;
    }

    &__title {
      font-size: 1.8rem;
      font-weight: 400;
      color: $G2;

      @include breakpoint($xs-bp) {
        font-size: 1.4rem;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.2rem;

      @include breakpoint($xs-bp) {
        gap: 1.8rem;
      }
    }

    &__link {
      font-size: 2rem;
      line-height: 1.4;
      font-weight: 400;
      transition: .3s;

      @include breakpoint($xs-bp) {
        font-size: 1.6rem;
      }

      @include hover {
        color: $primary;
      }
    }

    &__contacts {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.2rem;

      @include breakpoint($xs-bp) {
        gap: 1rem;
      }
    }

    &__contact {
      font-size: 2rem;
      line-height: 1.4;
      font-weight: 400;

      @include breakpoint($xs-bp) {
        font-size: 1.6rem;
      }
    }
  }
}

.footer-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}