---
import DefaultBtn from "@components/_UI/DefaultBtn/DefaultBtn.astro";
import { Sprite } from "astro-icon";
---

<section class="about-history">
  <div class="container about-history__wrapper">
    <h3 class="block-title about-history__title">История нашего развития</h3>
    <div class="about-history__swiper">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="about-history-item">
              <span class="about-history-item__year">1992 г.</span>
              <div class="template about-history-item__text">
                Развитие сотрудничества с ведущими авиакомпаниями, в том числе
                British Airways, Finnair, Lufthansa, Aeroflot и другими, что
                позволило расширить международные направления.
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="about-history-item">
              <span class="about-history-item__year">1995 г.</span>
              <div class="template about-history-item__text">
                Развитие сотрудничества с ведущими авиакомпаниями, в том числе
                British Airways, Finnair, Lufthansa, Aeroflot и другими, что
                позволило расширить международные направления.
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="about-history-item">
              <span class="about-history-item__year">2000-е г.</span>
              <div class="template about-history-item__text">
                Развитие сотрудничества с ведущими авиакомпаниями, в том числе
                British Airways, Finnair, Lufthansa, Aeroflot и другими, что
                позволило расширить международные направления.
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="about-history-item">
              <span class="about-history-item__year">2010 г.</span>
              <div class="template about-history-item__text">
                Развитие сотрудничества с ведущими авиакомпаниями, в том числе
                British Airways, Finnair, Lufthansa, Aeroflot и другими, что
                позволило расширить международные направления.
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="about-history-item">
              <span class="about-history-item__year">2015 г.</span>
              <div class="template about-history-item__text">
                Развитие сотрудничества с ведущими авиакомпаниями, в том числе
                British Airways, Finnair, Lufthansa, Aeroflot и другими, что
                позволило расширить международные направления.
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="about-history-item">
              <span class="about-history-item__year">2017 г.</span>
              <div class="template about-history-item__text">
                Развитие сотрудничества с ведущими авиакомпаниями, в том числе
                British Airways, Finnair, Lufthansa, Aeroflot и другими, что
                позволило расширить международные направления.
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="about-history-item">
              <span class="about-history-item__year">2020 г.</span>
              <div class="template about-history-item__text">
                Развитие сотрудничества с ведущими авиакомпаниями, в том числе
                British Airways, Finnair, Lufthansa, Aeroflot и другими, что
                позволило расширить международные направления.
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="about-history-item">
              <span class="about-history-item__year">2021 г.</span>
              <div class="template about-history-item__text">
                Развитие сотрудничества с ведущими авиакомпаниями, в том числе
                British Airways, Finnair, Lufthansa, Aeroflot и другими, что
                позволило расширить международные направления.
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="about-history-item">
              <span class="about-history-item__year">2023 г.</span>
              <div class="template about-history-item__text">
                Развитие сотрудничества с ведущими авиакомпаниями, в том числе
                British Airways, Finnair, Lufthansa, Aeroflot и другими, что
                позволило расширить международные направления.
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="about-history-item">
              <span class="about-history-item__year">2024 г.</span>
              <div class="template about-history-item__text">
                Развитие сотрудничества с ведущими авиакомпаниями, в том числе
                British Airways, Finnair, Lufthansa, Aeroflot и другими, что
                позволило расширить международные направления.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="about-history__nav">
        <DefaultBtn class="about-history__nav-btn" type="button" data-prev>
          <Sprite name="chevron-left" />
        </DefaultBtn>
        <DefaultBtn class="about-history__nav-btn" type="button" data-next>
          <Sprite name="chevron-right" />
        </DefaultBtn>
      </div>
    </div>
    <div class="about-history-line" style="--count: 10;">
      <span class="about-history-line__item"> </span>
      <span class="about-history-line__item"> </span>
      <span class="about-history-line__item"> </span>
      <span class="about-history-line__item"> </span>
      <span class="about-history-line__item"> </span>
      <span class="about-history-line__item"> </span>
      <span class="about-history-line__item"> </span>
      <span class="about-history-line__item"> </span>
      <span class="about-history-line__item"> </span>
      <span class="about-history-line__item"> </span>
    </div>
    <div class="swiper about-history__img-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="./img/main-serv-1.png" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="./img/main-serv-2.png" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="./img/main-serv-3.png" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="./img/main-serv-4.png" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="./img/main-serv-5.png" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="./img/main-serv-6.png" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="./img/main-serv-7.png" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="./img/main-serv-1.png" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="./img/main-serv-2.png" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="./img/main-serv-3.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
