---
import { Sprite } from "astro-icon";

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section class="template-page">
  <div class="container template-page__container">
    <a href="#" class="template-page__back">
      <Sprite name="arrow-left" />
       Back
    </a>

    <div class="template-page__content">
      <h1 class="template-page__title">TERMS OF SERVICE</h1>

      <div class="template template-page__text">
        <p>
          Discover the enchantment of 'Ritual for Two' at Por Vapor Spa, a
          sanctuary where time slows and connections deepen. Nestled in the
          serene heart of Aevum, our spa offers an escape into a world of shared
          tranquility and rejuvenation. This experience is more than just a
          treatment; it's a journey designed for couples seeking to rediscover
          each other amidst the stresses of daily life. From the soft glow of
          candlelight to the soothing sounds of Agua Viva, every detail is
          crafted to enhance your bond and create lasting memories. Join us and
          indulge in a symphony of sensations, where both body and spirit find
          harmony.
        </p>
        <p>
          Discover the enchantment of 'Ritual for Two' at Por Vapor Spa, a
          sanctuary where time slows and connections deepen. Nestled in the
          serene heart of Aevum, our spa offers an escape into a world of shared
          tranquility and rejuvenation. This experience is more than just a
          treatment; it's a journey designed for couples seeking to rediscover
          each other amidst the stresses of daily life. From the soft glow of
          candlelight to the soothing sounds of Agua Viva, every detail is
          crafted to enhance your bond and create lasting memories. Join us and
          indulge in a symphony of sensations, where both body and spirit find
          harmony.
        </p>
        <p>
          Discover the enchantment of 'Ritual for Two' at Por Vapor Spa, a
          sanctuary where time slows and connections deepen. Nestled in the
          serene heart of Aevum, our spa offers an escape into a world of shared
          tranquility and rejuvenation. This experience is more than just a
          treatment; it's a journey designed for couples seeking to rediscover
          each other amidst the stresses of daily life. From the soft glow of
          candlelight to the soothing sounds of Agua Viva, every detail is
          crafted to enhance your bond and create lasting memories. Join us and
          indulge in a symphony of sensations, where both body and spirit find
          harmony.
        </p>
        <p>
          Discover the enchantment of 'Ritual for Two' at Por Vapor Spa, a
          sanctuary where time slows and connections deepen. Nestled in the
          serene heart of Aevum, our spa offers an escape into a world of shared
          tranquility and rejuvenation. This experience is more than just a
          treatment; it's a journey designed for couples seeking to rediscover
          each other amidst the stresses of daily life. From the soft glow of
          candlelight to the soothing sounds of Agua Viva, every detail is
          crafted to enhance your bond and create lasting memories. Join us and
          indulge in a symphony of sensations, where both body and spirit find
          harmony.
        </p>
        <p>
          Discover the enchantment of 'Ritual for Two' at Por Vapor Spa, a
          sanctuary where time slows and connections deepen. Nestled in the
          serene heart of Aevum, our spa offers an escape into a world of shared
          tranquility and rejuvenation. This experience is more than just a
          treatment; it's a journey designed for couples seeking to rediscover
          each other amidst the stresses of daily life. From the soft glow of
          candlelight to the soothing sounds of Agua Viva, every detail is
          crafted to enhance your bond and create lasting memories. Join us and
          indulge in a symphony of sensations, where both body and spirit find
          harmony.
        </p>
        <p>
          Discover the enchantment of 'Ritual for Two' at Por Vapor Spa, a
          sanctuary where time slows and connections deepen. Nestled in the
          serene heart of Aevum, our spa offers an escape into a world of shared
          tranquility and rejuvenation. This experience is more than just a
          treatment; it's a journey designed for couples seeking to rediscover
          each other amidst the stresses of daily life. From the soft glow of
          candlelight to the soothing sounds of Agua Viva, every detail is
          crafted to enhance your bond and create lasting memories. Join us and
          indulge in a symphony of sensations, where both body and spirit find
          harmony.
        </p>
      </div>
    </div>
  </div>
</section>
