---

---

<section class="about-awards">
  <div class="container about-awards__container">
    <h3 class="block-title about-awards__title">Наши награды</h3>
    <div class="about-awards__list">
      <div
        class="about-awards-item _dropped"
        data-dropdown
        data-dropdown-group="awards"
      >
        <button type="button" class="about-awards-item__btn" data-dropdown-btn>
          Сертификат признательности от сотрудников Управления связи Белого дома
        </button>
        <div class="about-awards-item__drop">
          <div class="about-awards-item__content">
            <div class="about-awards-item__img">
              <img src="./img/award-1.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="about-awards-item" data-dropdown data-dropdown-group="awards">
        <button type="button" class="about-awards-item__btn" data-dropdown-btn>
          Сертификат признательности от имени президента США Билла Клинтона
        </button>
        <div class="about-awards-item__drop">
          <div class="about-awards-item__content">
            <div class="about-awards-item__img">
              <img src="./img/main-serv-2.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="about-awards-item" data-dropdown data-dropdown-group="awards">
        <button type="button" class="about-awards-item__btn" data-dropdown-btn>
          Сертификат признательности от Мадлен Олбрайт
        </button>
        <div class="about-awards-item__drop">
          <div class="about-awards-item__content">
            <div class="about-awards-item__img">
              <img src="./img/main-serv-2.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="about-awards-item" data-dropdown data-dropdown-group="awards">
        <button type="button" class="about-awards-item__btn" data-dropdown-btn>
          Почетный диплом АСМАП
        </button>
        <div class="about-awards-item__drop">
          <div class="about-awards-item__content">
            <div class="about-awards-item__img">
              <img src="./img/main-serv-2.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="about-awards-item" data-dropdown data-dropdown-group="awards">
        <button type="button" class="about-awards-item__btn" data-dropdown-btn>
          Почетный диплом АСМАП
        </button>
        <div class="about-awards-item__drop">
          <div class="about-awards-item__content">
            <div class="about-awards-item__img">
              <img src="./img/main-serv-2.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="about-awards-item" data-dropdown data-dropdown-group="awards">
        <button type="button" class="about-awards-item__btn" data-dropdown-btn>
          Диплом от Lufthansa Cargo
        </button>
        <div class="about-awards-item__drop">
          <div class="about-awards-item__content">
            <div class="about-awards-item__img">
              <img src="./img/main-serv-2.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="about-awards-item" data-dropdown data-dropdown-group="awards">
        <button type="button" class="about-awards-item__btn" data-dropdown-btn>
          Сертификат за заслуги от SAS
        </button>
        <div class="about-awards-item__drop">
          <div class="about-awards-item__content">
            <div class="about-awards-item__img">
              <img src="./img/main-serv-2.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="about-awards-item" data-dropdown data-dropdown-group="awards">
        <button type="button" class="about-awards-item__btn" data-dropdown-btn>
          Грамота от Британских Авиалиний
        </button>
        <div class="about-awards-item__drop">
          <div class="about-awards-item__content">
            <div class="about-awards-item__img">
              <img src="./img/main-serv-2.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="about-awards-item" data-dropdown data-dropdown-group="awards">
        <button type="button" class="about-awards-item__btn" data-dropdown-btn>
          Грамота от Британских авиалиний
        </button>
        <div class="about-awards-item__drop">
          <div class="about-awards-item__content">
            <div class="about-awards-item__img">
              <img src="./img/main-serv-2.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
